@import '../_setting.scss';

footer#footer {
  background: $black;
  color: $smoke;
  border-top: 2px solid $brown; 
  text-align: center;
}

.footer-container {
  padding: $gap-size-L;
}

.copy-right {
  font-size: $font-size-S;
  margin-bottom: $gap-size-S;
  @media (max-width: $desktop) { 
    margin-bottom: 0!important;
  }
}

.footer-links {
  font-size: $font-size-XS;
  ul {
    list-style: none;
    li {
      display: inline-block;
      line-height: 1;
      & + li {
        border-left: 1px solid $smoke;
      }
    }
  }
  a {
    color: $smoke;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    &:hover {
      color: $gold;
      text-decoration: none;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
  }
}