@import '../_setting.scss';

header#header {
  background: $black;
  border-bottom: 2px solid $brown;
}

.header-container {
  height: 120px;
}

#site-link {
  display: inline-block;
  width: 256px;
  height: 90px;
  text-indent: -9999px;
  background: url('../imgs/logo.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  @media screen and (max-width: $wild - 1px) {
    width: 192px;
    height: 68px;
    margin-top: 26px;
    margin-left: 1em;
  }
}
