#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1600;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.75);
  text-align: center;
  overflow: hidden;
  cursor: progress;
  #spin {
    animation: spin 3s linear infinite;
    margin-top: calc(50vh - 36px);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
