@import '../_setting.scss';

#navigation {
  background: linear-gradient(to bottom, $dark, $black 15%, $black 85%, $dark);
  border-bottom: 2px solid $silver;
  //toggler
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: -76px;
    color: $white;
    @media screen and (max-width: $wild - 1px) {
      right: 1em;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
  .toggler-icon {
    width: 36px;
    height: 2px;
    background: $white;
    display: block;
    border-radius: 2px;
    & + .toggler-icon {
      margin-top: 10px;
    }
  }
}

#main-nav {
  width: 100%;
  @media screen and (max-width: $wild - 1px) {
    display: block;
  }
  .nav-link {
    color: $gold;
    font-family: $brand_font;
    font-weight: bold;
    font-size: $font-size-L;
    height: 60px;
    line-height: 50px; //for werid font type setting
    -webkit-transition: background 0.5s ease, color 0.8s linear;
    transition: background 0.5s ease, color 0.8s linear;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
  @media screen and (min-width: $wild) {
    #nav-download {
      background: $download;
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
      .nav-link {
        color: $white;
      }
      &:hover {
        background: $dark;
      }
    }
  }
}

.nav-item {
  @media screen and (min-width: $wild) {
    border-right: 1px solid $silver;
    &:first-child {
      border-left: 1px solid $silver;
    }
  }
}

#auth-nav {
  @media screen and (min-width: $wild) {
    position: absolute;
    right: 0;
    top: -80px;
    .nav-item {
      border: none;
    }
    .nav-link {
      padding: 0;
    }
  }
}

// For auth nav's rwd
#after-login-nav #logout-button,
#before-login-nav #login-button {
  @media screen and (max-width: $wild) {
    display: block;
    text-align: center;
    position: relative;
    &:hover {
      background: none;
      color: $gold;
    }
  }
}