@import '../_setting.scss';

#page-not-found {
  background: $dark;
  height: 100vh;
  #site-link {
    width: 128px;
    height: 45px;
  }
  .header-container {
    height: 80px;
  }
  header#header {
    border: none;
  }
  // For admin Nav
  .admin-nav {
    position: relative;
    #after-login-nav {
      position: absolute;
      right: 0;
      top: -58px;
    }
    .nav-item {
      border: none;
    }
  }
}

.pnf-container {
  margin-top: 120px;
  h1 {
    color: $gold;
    font-size: $font-size-XXL;
  }
  p {
    color: $white;
    font-size: $font-size-L;
  }
  .back-home {
    background: $btn;
    color: $black;
    border: none;
    font-weight: bold;
    font-size: $font-size-M;
  }
}