<template>
  <div id="display-player">
    <b-container class="cms-table p-0">
      <b-form-row class="mx-0">
        <b-col cols="auto"
               class="ml-4 my-3">
          <b-input-group id="filter-input">
            <b-form-input v-model="filter" />
            <b-input-group-append>
              <b-btn :disabled="!filter"
                     @click="filter = ''">
                <span :class="{'icon-ic_close': filter, 'icon-ic_filter': !filter}"></span>
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="auto"
               class="ml-auto mr-4 my-3">
          <router-link :to="{name: 'admin-create-player'}"
                       id="btn-add-player"
                       class="btn badge-pill py-2 px-4 btn-operation-game">
            <span class="icon-ic_add"></span>ADD PLAYER</router-link>
        </b-col>
      </b-form-row>


      <b-table striped hover show-empty responsive
               class="cms-table-container"
               :items="playerItems"
               :fields="playerFields"
               :filter="filter">

        <template slot="Actions"
                  slot-scope="row">
          <div class="action-icons">
            <router-link :to="{name: 'admin-display-player-auditlogs', params: {userName: row.item.Username}}"
                         :data-set="'audit_' + row.item.Username"
                         class="d-inline mr-2">
              <span v-b-tooltip.hover
                    title="Log"
                    class="icon-ic_log icon-set"></span>
            </router-link>

            <router-link :to="{name: 'admin-update-player', params: {userName: row.item.Username}}"
                        :data-set="'edit_' + row.item.Username"
                        class="d-inline">
              <span v-b-tooltip.hover
                    title="Edit"
                    class="icon-ic_edit icon-set"></span>
            </router-link>
          </div>
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { DISPLAY_PLAYER } from '@/constants/player'

  const PLAYER_FIELDS = DISPLAY_PLAYER.PLAYER_FIELDS
  const AVAILABLE_FIELDS = DISPLAY_PLAYER.AVAILABLE_FIELDS

  export default {
    name: 'admin-display-player',
    data: function () {
      return {
        playerFields: PLAYER_FIELDS,
        playerItems: this.playerItems,
        filter: null,
        isLoading: false
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    methods: {
      ...mapActions('user', [
        'actionCmsGetAllUsers'
      ]),
      getAllUsers: async function () {
        let payload = {
          token: this.userToken
        }

        try {
          const res = await this.actionCmsGetAllUsers(payload)
          this.getCustomizedItem(res)
        } catch (err) {
          console.warn('[Error-User]', err.body)
          throw err.body
        }
      },
      getCustomizedItem: function (res) {
        if (res.length > 0) {
          this.playerItems = res
          this.playerItems.forEach(item => {
            item.Company = item.UserData.Company
            item.Fullname = this.getFullname(item.UserData)
            Object.keys(item).forEach(key => {
              if (AVAILABLE_FIELDS.indexOf(key) === -1) {
                delete item[key]
              }
            })
            if (item.Status === 'Disabled') {
              item._rowVariant = `disabled data_${item.Username}`
            } else {
              item._rowVariant = `enabled data_${item.Username}`
            }
          })
        }
      },
      getFullname: function (userData) {
        const isNameValid = userData.FirstName !== undefined && userData.LastName !== undefined
        return (isNameValid ? userData.FirstName + ' ' + userData.LastName : '')
      }
    },
    mounted: function () {
      this.getAllUsers()
    }
  }
</script>
