<template>
  <div id="update-player">
    <h2 class="admin-title mt-4 mb-3">
        UPDATE PLAYER</h2>

    <div class="cms-container py-2 px-lg-5 px-md-3 px-sm-1">

      <b-form id="update-player-form"
              class="px-lg-5 px-md-4 px-sm-3"
              :novalidate="true"
              @submit.prevent="onSubmit"
              @reset.prevent="onReset">

        <div class="cms-field-container py-5">

          <!-- Username -->
          <b-form-group id="update-player-username-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="USERNAME*"
                        label-for="update-player-username-input">

            <b-form-input id="update-player-username-input"
                          class="px-4"
                          v-model.trim="updatePlayerDetails.username"
                          type="text"
                          :disabled="true"></b-form-input>
          </b-form-group>

          <!-- Firstname -->
          <b-form-group id="update-player-firstname-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="FIRST NAME*"
                        label-for="update-player-firstname-input">

            <b-form-input id="update-player-firstname-input"
                          class="px-4"
                          v-model.trim="$v.updatePlayerDetails.firstname.$model"
                          :state="!$v.updatePlayerDetails.firstname.$error"
                          type="text"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="updatePlayerDetailsFirstnameFeedback">

              <span v-if="!$v.updatePlayerDetails.firstname.required"
                    class="text">
                    Firstname field is required.</span>
              <span v-if="!$v.updatePlayerDetails.firstname.minLength"
                    class="text">
                    Firstname must have at least {{$v.updatePlayerDetails.firstname.$params.minLength.min}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.firstname.maxLength"
                    class="text">
                    Firstname must be under {{$v.updatePlayerDetails.firstname.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.firstname.firstname"
                    class="text">
                    Please use a valid firstname.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Lastname -->
          <b-form-group id="update-player-lastname-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="LAST NAME*"
                        label-for="update-player-lastname-input">

            <b-form-input id="update-player-lastname-input"
                          class="px-4"
                          v-model.trim="$v.updatePlayerDetails.lastname.$model"
                          :state="!$v.updatePlayerDetails.lastname.$error"
                          type="text"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="updatePlayerDetailsLastnameFeedback">

              <span v-if="!$v.updatePlayerDetails.lastname.required"
                    class="text">
                    Lastname field is required.</span>
              <span v-if="!$v.updatePlayerDetails.lastname.minLength"
                    class="text">
                    Lastname must have at least {{$v.updatePlayerDetails.lastname.$params.minLength.min}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.lastname.maxLength"
                    class="text">
                    Lastname must be under {{$v.updatePlayerDetails.lastname.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.lastname.lastname"
                    class="text">
                    Please use a valid lastname.</span>
            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Status -->
          <b-form-group id="update-player-status-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="STATUS*"
                        label-for="update-player-status-select">

            <b-form-select id="update-player-status-select"
                           class="px-4"
                           v-model="updatePlayerDetails.status"
                           :state="!$v.updatePlayerDetails.status.$error"
                           @change="$v.updatePlayerDetails.status.$touch()"
                           :options="statusOptions" />
          </b-form-group>

          <!-- Email -->
          <b-form-group id="update-player-email-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="EMAIL*"
                        label-for="update-player-email-input">

            <b-form-input id="update-player-email-input"
                          class="px-4"
                          v-model.trim="$v.updatePlayerDetails.email.$model"
                          :state="!$v.updatePlayerDetails.email.$error"
                          type="email"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="updatePlayerDetailsEmailFeedback">

              <span v-if="!$v.updatePlayerDetails.email.required"
                    class="text">
                    Email field is required.</span>
              <span v-if="!$v.updatePlayerDetails.email.minLength"
                    class="text">
                    Email must have at least {{$v.updatePlayerDetails.email.$params.minLength.min}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.email.maxLength"
                    class="text">
                    Email must be under {{$v.updatePlayerDetails.email.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.email.email"
                    class="text">
                    Please use a valid email.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Phone -->
          <b-form-group id="update-player-phone-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="PHONE"
                        label-for="update-player-phone-input">

            <b-form-input id="update-player-phone-input"
                          class="px-4"
                          v-model.trim="$v.updatePlayerDetails.phone.$model"
                          :state="!$v.updatePlayerDetails.phone.$error"
                          type="text"
                          autocomplete="off"></b-form-input>


            <b-form-invalid-feedback id="updatePlayerDetailsPhoneFeedback">

              <span v-if="!$v.updatePlayerDetails.phone.minLength"
                    class="text">
                    Phone must have at least {{$v.updatePlayerDetails.phone.$params.minLength.min}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.phone.maxLength"
                    class="text">
                    Phone must be under {{$v.updatePlayerDetails.phone.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.phone.numeric"
                    class="text">
                    Please enter a valid phone number consisting of digits only.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Company -->
          <b-form-group id="update-player-company-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="COMPANY"
                        label-for="update-player-company-input">

            <b-form-input id="update-player-company-input"
                          class="px-4"
                          v-model.trim="$v.updatePlayerDetails.company.$model"
                          :state="!$v.updatePlayerDetails.company.$error"
                          type="text"
                          autocomplete="off"></b-form-input>

            <b-form-invalid-feedback id="updatePlayerDetailsCompanyFeedback">

              <span v-if="!$v.updatePlayerDetails.company.minLength"
                    class="text">
                    Company must have at least {{$v.updatePlayerDetails.company.$params.minLength.min}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.company.maxLength"
                    class="text">
                    Company must be under {{$v.updatePlayerDetails.company.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.updatePlayerDetails.company.company"
                    class="text">
                    Please use a valid company.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- MG User Infor -->
          <b-form-group id="update-player-mguser-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="MG CREDENTIALS"
                        label-for="update-player-mguser-label">

            <span id="update-player-mguser-label"
                  class="px-4">{{updatePlayerDetails.mgUser.Account}} / {{updatePlayerDetails.mgUser.Password}}</span>
          </b-form-group>

          <b-row>
            <b-col cols="9">
              <!-- Password -->
              <b-form-group id="update-player-password-group"
                            class="cms-field-group"
                            horizontal
                            :label-cols="4"
                            breakpoint="md"
                            label="88MG88 PASSWORD"
                            label-for="update-player-password-label">

                <span id="update-player-password-label"
                      class="px-4">{{updatePlayerDetails.password}}</span>
              </b-form-group>
            </b-col>
            
            <b-col cols="3"
                   class="text-right">
              <!-- reset password -->
              <b-button id="reset-password"
                        class="cms-action-btn badge-pill px-3 action-btn-active"
                        :to="{name: 'admin-update-player-password'}">
              
                <span class="icon-ic_resetpw"></span>
                      Reset Password</b-button>
            </b-col>
          </b-row>
        </div>

        <b-container class="py-5">
          <b-row>
            <app-message-alert class="mx-auto"></app-message-alert>
          </b-row>
          <b-row>
            <b-col md="3">
              <router-link id="back-to-player-list"
                           class="cms-action-link d-inline-block pt-2"
                           :to="{name: 'admin-display-player'}">
                           &#060; BACK TO LIST</router-link>
            </b-col>

            <b-col md="6"
                   class="text-center">

              <b-button id="update-player-submit"
                        class="badge-pill p-2 cms-action-btn action-btn-active"
                        size="md"
                        type="submit"
                        :disabled="$v.updatePlayerDetails.$anyError">
                        SAVE</b-button>

              <b-button id="update-player-reset"
                        class="badge-pill p-2 cms-action-btn action-btn-reset"
                        size="md"
                        type="reset">
                        RESET</b-button>
            </b-col>
          </b-row>
        </b-container>

      </b-form>
    </div>

    <app-success-modal ref="success">
                       </app-success-modal>

    <app-leave-modal ref="leavePage"
                     @confirm="redirectPage"></app-leave-modal>

  </div>
</template>

<script>
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'
  import AppSuccessModal from '@/components/shared/AppSuccessModal.vue'
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import { UPDATE_PLAYER } from '@/constants/player'
  import UserOperationMixin from '@/mixins/user/operation_mixin'
  import UserValidationMixin from '@/mixins/user/validation_mixin'

  export default {
    name: 'admin-update-player',
    mixins: [UserOperationMixin, UserValidationMixin],
    components: {
      'app-message-alert': AppMessageAlert,
      'app-success-modal': AppSuccessModal,
      'app-leave-modal': AppLeaveModal
    },
    props: {
      userName: {
        required: true,
        type: String
      }
    },
    data: function () {
      return {
        updatePlayerDetails: {
          username: '',
          firstname: '',
          lastname: '',
          status: '',
          email: '',
          phone: '',
          company: '',
          mgUser: {},
          password: ''
        },
        statusOptions: UPDATE_PLAYER.STATUS_OPTIONS
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      isFormChanged: function () {
        return this.$v.updatePlayerDetails.$anyDirty
      }
    },
    methods: {
      ...mapActions('user', [
        'actionCmsGetUserDetails',
        'actionCmsEditUserDetails'
      ]),
      requestUserUpdate: async function () {
        this.$v.updatePlayerDetails.$touch()
        if (this.$v.updatePlayerDetails.$anyError) return

        let updatePlayerDetails = this.updateUserParams()
        let payload = {
          token: this.userToken,
          userName: this.$route.params.userName,
          userDetails: updatePlayerDetails
        }

        try {
          const res = await this.actionCmsEditUserDetails(payload)
          const userName = res.Username
          this.initUpdatePlayer()
          bus.$emit('ShowSuccess', `User [${userName}] Updated Succefully!`)
          this.$refs.success.show()
        } catch (err) {
          console.warn('err', err.body.Data.AdditionalMessage)
          bus.$emit('ShowError', err.body.Data.AdditionalMessage)
          throw err
        }
      },
      getCmsPlayerDetails: async function () {
        let payload = {
          token: this.userToken,
          username: this.$route.params.userName
        }

        if (payload.username !== undefined) {
          try {
            const res = await this.actionCmsGetUserDetails(payload)
            this.applyPlayerFields(res)
          } catch (err) {
            this.$router.replace('/404')
            throw err
          }
        }
      },
      initUpdatePlayer: async function () {
        await this.getCmsPlayerDetails()
        this.$nextTick(() => { this.$v.updatePlayerDetails.$reset() })
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        this.requestUserUpdate()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.initUpdatePlayer()
      }
    },
    mounted: function () {
      this.initUpdatePlayer()
    }
  }
</script>
