<template>
  <div id="display-auditlogs">
    <b-container class="admin-display">
      <b-row>
        <b-col md="3">
          <router-link id="back-to-player-list"
                       class="cms-action-link d-inline-block pt-2"
                       :to="{name: 'admin-display-player'}">
                       &#060; BACK TO LIST</router-link>
        </b-col>

        <b-col md="6">
          <h2 class="admin-title text-center">
              {{userName}} Logs</h2>
        </b-col>
      </b-row>

      <b-row class="cms-table">
        <!-- Filter -->
        <b-col class="ml-4 my-3">
          <b-input-group id="filter-input">
            <b-form-input v-model="filter" />
            <b-input-group-append>
              <b-btn :disabled="!filter"
                      @click="filter = ''">
                <span :class="{'icon-ic_close': filter, 'icon-ic_filter': !filter}"></span>
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- Time Range -->
        <b-col class="text-right mr-4 my-3">
            <date-picker id="time-range-input"
                         v-model="timeRange"
                         type="datetime"
                         lang="en"
                         format="YYYY-MM-DD HH:mm"
                         range
                         confirm
                         confirm-text="CONFIRM"
                         :not-before="limitTime"
                         :editable="false"
                         :shortcuts="false"
                         :time-picker-options="{ start: '00:00', step: '01:00', end: '23:00' }"></date-picker>

             <b-btn id="time-range-submit"
                    :disabled="isDisable"
                    @click.prevent="getAuditLogs">APPLY</b-btn>
          </b-col>
      </b-row>

      <b-row class="cms-table">
        <b-table striped hover show-empty responsive
                 class="cms-table-container"
                 :fields="auditlogsFields"
                 :items="playerAuditLogs"
                 :filter="filter">
        </b-table>
      </b-row>
    </b-container>

  </div>
</template>

<script>
  import DatePicker from 'vue2-datepicker'
  import { mapGetters, mapActions } from 'vuex'
  import { PLAYER_AUDIT_LOGS } from '@/constants/player'

  const NINETY_DAYS = PLAYER_AUDIT_LOGS.MAXIMUN_DAYS
  const SEVEN_DAYS = PLAYER_AUDIT_LOGS.DEFAULT_DAYS
  const AUDIT_LOGS_FIELDS = PLAYER_AUDIT_LOGS.AUDIT_LOGS_FIELDS
  const AVAILABLE_FIELDS = PLAYER_AUDIT_LOGS.AVAILABLE_FIELDS

  export default {
    name: 'admin-display-player-auditlogs',
    components: {
      'date-picker': DatePicker
    },
    props: {
      userName: {
        required: true,
        type: String
      }
    },
    data: function () {
      return {
        auditlogsFields: AUDIT_LOGS_FIELDS,
        playerAuditLogs: this.playerAuditLogs,
        filter: null,
        limitTime: new Date(new Date() - NINETY_DAYS).toISOString(),
        startTime: undefined,
        endTime: undefined,
        timeRange: [new Date(new Date() - SEVEN_DAYS), new Date()]
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      DATE_PATTERN: function () {
        return /\s\((.*?)\)/
      },
      isDisable: function () {
        return this.timeRange === undefined || this.timeRange.length !== 2 || !(this.timeRange[0] instanceof Date)
      }
    },
    methods: {
      ...mapActions('user', [
        'actionCmsGetUserAuditLogs'
      ]),
      getAuditLogs: async function () {
        /**
         * remove last charater for matching the format API wanted
         * eg. from 2018-07-30T09:43:22Z(ISO8601 Date Format) to 2018-07-30T09:43:22(without Z)
         */
        this.startTime = new Date(this.timeRange[0]).toISOString().slice(0, -1)
        this.endTime = new Date(this.timeRange[1]).toISOString().slice(0, -1)

        let payload = {
          token: this.userToken,
          userName: this.userName,
          period: {
            startTime: this.startTime,
            endTime: this.endTime
          }
        }

        try {
          this.playerAuditLogs = []
          const res = await this.actionCmsGetUserAuditLogs(payload)
          this.getCustomizedItem(res)
        } catch (err) {
          console.warn('[Error-User]', err.body)
          throw err.body
        }
      },
      getCustomizedItem: function (res) {
        if (res.length > 0) {
          this.playerAuditLogs = res
          this.playerAuditLogs.forEach(item => {
            item.clientTime = this.formatClientTime(item.localTime)
            Object.keys(item).forEach(key => {
              if (AVAILABLE_FIELDS.indexOf(key) === -1) {
                delete item[key]
              }
            })
          })
        }
      },
      formatClientTime: function (localTime) {
        return new Date(localTime).toString().replace(this.DATE_PATTERN, '')
      }
    },
    mounted: function () {
      this.getAuditLogs()
    }
  }
</script>
