<template>
  <div id="update-player-password">
    <h2 class="admin-title mt-4 mb-3">
        RESET PASSWORD</h2>

    <div class="cms-container py-2 px-lg-5 px-md-3 px-sm-1">

      <b-form id="update-player-password-form"
              class="px-lg-5 px-md-4 px-sm-3"
              :novalidate="true"
              @submit="onSubmit"
              @reset="onReset">

        <div class="cms-field-container py-5">

          <b-form-group id="update-player-password-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="PASSWORD*"
                        label-for="update-player-password-input">

            <b-input-group>
              <b-form-input id="update-player-password-input"
                            class="px-4 password-input"
                            v-model="$v.updatePlayerPassword.password.$model"
                            :state="!$v.updatePlayerPassword.password.$error"
                            :type="getFieldType(isPasswordShown)"
                            autocomplete="off"
                            required></b-form-input>

              <b-input-group-append>

                <b-btn id="toggle-password"
                       class="password-action-btn toggle-password password py-1 px-3"
                       :data-set="'toggle-password'"
                       @click.prevent="togglePassword">
                       <span :class="{'icon-ic_closeeyes': isPasswordShown, 'icon-ic_openeyes': !isPasswordShown}"></span></b-btn>

                <!-- Autogen Password -->
                <b-btn id="autogen-password"
                       class="password-action-btn py-1 px-3"
                       @click.prevent="generatePassword()">Auto Generate</b-btn>

              </b-input-group-append>

              <b-form-invalid-feedback id="updatePlayerPasswordPasswordFeedback">

                <span v-if="!$v.updatePlayerPassword.password.required"
                      class="text">
                      Password field is required.</span>
                <span v-if="!$v.updatePlayerPassword.password.minLength"
                      class="text">
                      Password must have at least {{$v.updatePlayerPassword.password.$params.minLength.min}} letters.</span>
                <span v-if="!$v.updatePlayerPassword.password.maxLength"
                      class="text">
                      Password must be under {{$v.updatePlayerPassword.password.$params.maxLength.max}} letters.</span>
                <span v-if="!$v.updatePlayerPassword.password.password"
                      class="text">
                      Please use a valid password.</span>

              </b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>

          <!-- Confirm Password -->
          <b-form-group id="update-player-confirm-password-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="CONFIRM PASSWORD*"
                        label-for="update-player-confirm-password-input">

            <b-input-group>
              <b-form-input id="update-player-confirm-password-input"
                            class="px-4 password-input"
                            v-model="$v.updatePlayerPassword.confirmPassword.$model"
                            :state="!$v.updatePlayerPassword.confirmPassword.$error"
                            :type="getFieldType(isConfirmPasswordShown)"
                            autocomplete="off"
                            required></b-form-input>

              <b-input-group-append>
                <b-btn id="toggle-confirm-password"
                       class="password-action-btn toggle-password confirm py-1 px-3"
                       :data-set="'toggle-confirm-password'"
                       @click.prevent="toggleConfirmPassword">
                       <span :class="{'icon-ic_closeeyes': isConfirmPasswordShown, 'icon-ic_openeyes': !isConfirmPasswordShown}"></span></b-btn>
              </b-input-group-append>

              <b-form-invalid-feedback id="updatePlayerPasswordConfirmPasswordFeedback">
                <span v-if="!$v.updatePlayerPassword.confirmPassword.sameAsPassword"
                      class="text">
                      Password must be identical.</span>

              </b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>
        </div>

        <b-container class="py-5">
          <b-row>
            <app-message-alert class="mx-auto"></app-message-alert>
          </b-row>

          <b-row>
            <b-col md="3">
              <router-link id="back-to-update-player"
                           class="cms-action-link d-inline-block pt-2"
                           :to="{name: 'admin-update-player', params: userName}">
                           &#060; BACK TO UPDATE PLAYER</router-link>
            </b-col>

            <b-col md="6"
                   class="text-center">

              <b-button id="update-player-password-submit"
                        class="badge-pill p-2 cms-action-btn action-btn-active"
                        size="md"
                        type="submit"
                        :disabled="$v.updatePlayerPassword.$anyError">
                        SAVE</b-button>

              <b-button id="update-player-password-reset"
                        class="badge-pill p-2 cms-action-btn action-btn-reset"
                        size="md"
                        type="reset">
                        RESET</b-button>

            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>

    <app-success-modal ref="success">
                       </app-success-modal>

    <app-leave-modal ref="leavePage"
                     @confirm="redirectPage"></app-leave-modal>

  </div>
</template>

<script>
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'
  import AppSuccessModal from '@/components/shared/AppSuccessModal.vue'
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import UserOperationMixin from '@/mixins/user/operation_mixin'
  import UserValidationMixin from '@/mixins/user/validation_mixin'

  export default {
    name: 'admin-update-player-password',
    mixins: [UserOperationMixin, UserValidationMixin],
    components: {
      'app-message-alert': AppMessageAlert,
      'app-success-modal': AppSuccessModal,
      'app-leave-modal': AppLeaveModal
    },
    props: {
      userName: {
        required: true,
        type: String
      }
    },
    data: function () {
      return {
        updatePlayerPassword: {
          password: '',
          confirmPassword: ''
        }
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      isFormChanged: function () {
        return this.$v.updatePlayerPassword.$anyDirty
      }
    },
    methods: {
      ...mapActions('user', [
        'actionCmsEditUserPassword'
      ]),
      requestUserPasswordUpdate: async function () {
        this.$v.updatePlayerPassword.$touch()
        if (this.$v.updatePlayerPassword.$anyError) return

        let updatePlayerPassword = this.updateUserPasswordParam()
        let payload = {
          token: this.userToken,
          userName: this.$route.params.userName,
          password: updatePlayerPassword
        }

        try {
          const res = await this.actionCmsEditUserPassword(payload)
          const userName = res.Username
          this.initUpdatePlayerPassword()
          bus.$emit('ShowSuccess', `User [${userName}] Password Updated Succefully!`)
          this.$refs.success.show()
        } catch (err) {
          console.warn('err', err.body.Data.AdditionalMessage)
          bus.$emit('ShowError', err.body.Data.AdditionalMessage)
          throw err
        }
      },
      applyPassword: function (password) {
        this.updatePlayerPassword.password = password
        this.updatePlayerPassword.confirmPassword = password
        this.isPasswordShown = true
        this.isConfirmPasswordShown = true
      },
      initUpdatePlayerPassword: function () {
        this.updatePlayerPassword.password = ''
        this.updatePlayerPassword.confirmPassword = ''
        this.$nextTick(() => { this.$v.updatePlayerPassword.$reset() })
      },
      onSubmit: function (evt) {
        evt.preventDefault()
        bus.$emit('Dismiss')
        this.requestUserPasswordUpdate()
      },
      onReset: function (evt) {
        evt.preventDefault()
        bus.$emit('Dismiss')
        this.initUpdatePlayerPassword()
        this.isPasswordShown = false
        this.isConfirmPasswordShown = false
      }
    },
    created: function () {
      this.initUpdatePlayerPassword()
    }
  }
</script>
