<template>
  <div id="create-player">
    <h2 class="admin-title mt-4 mb-3">
        ADD PLAYER</h2>
    <div class="cms-container py-2 px-lg-5 px-md-3 px-sm-1">
      <b-form id="create-player-form"
              class="px-lg-5 px-md-4 px-sm-3"
              :novalidate="true"
              @submit.prevent="onSubmit"
              @reset.prevent="onReset">

        <div class="cms-field-container py-5">

          <!-- Username -->
          <b-form-group id="create-player-username-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="USERNAME*"
                        label-for="create-player-username-input">

            <b-form-input id="create-player-username-input"
                          :class="{'px-4': true, 'is-pending': $v.createPlayerDetails.username.$pending}"
                          v-model="$v.createPlayerDetails.username.$model"
                          :state="!$v.createPlayerDetails.username.$error"
                          type="text"
                          autocomplete="off"
                          required
                          placeholder="Unique identifier in the database."></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsUsernameFeedback"
                                     v-show="!$v.createPlayerDetails.username.$pending">
              <span v-if="!$v.createPlayerDetails.username.required"
                    class="text">
                    Username field is required.</span>
              <span v-if="!$v.createPlayerDetails.username.minLength"
                    class="text">
                    Username must have at least {{$v.createPlayerDetails.username.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.username.maxLength"
                    class="text">
                    Username must be under {{$v.createPlayerDetails.username.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.username.username"
                    class="text">
                    Please use a valid username.</span>
              <span v-if="!$v.createPlayerDetails.username.isUnique"
                    class="text">
                    This username is already registered.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Firstname -->
          <b-form-group id="create-player-firstname-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="FIRST NAME*"
                        label-for="create-player-firstname-input">

            <b-form-input id="create-player-firstname-input"
                          class="px-4"
                          v-model.trim="$v.createPlayerDetails.firstname.$model"
                          :state="!$v.createPlayerDetails.firstname.$error"
                          type="text"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsFirstnameFeedback">

              <span v-if="!$v.createPlayerDetails.firstname.required"
                    class="text">
                    First name field is required.</span>
              <span v-if="!$v.createPlayerDetails.firstname.minLength"
                    class="text">
                    First name must have at least {{$v.createPlayerDetails.firstname.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.firstname.maxLength"
                    class="text">
                    First name must be under {{$v.createPlayerDetails.firstname.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.firstname.firstname"
                    class="text">
                    Please use a valid first name.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Lastname -->
          <b-form-group id="create-player-lastname-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="LAST NAME*"
                        label-for="create-player-lastname-input">

            <b-form-input id="create-player-lastname-input"
                          class="px-4"
                          v-model.trim="$v.createPlayerDetails.lastname.$model"
                          :state="!$v.createPlayerDetails.lastname.$error"
                          type="text"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsLastnameFeedback">

              <span v-if="!$v.createPlayerDetails.lastname.required"
                    class="text">
                    Last name field is required.</span>
              <span v-if="!$v.createPlayerDetails.lastname.minLength"
                    class="text">
                    Last name must have at least {{$v.createPlayerDetails.lastname.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.lastname.maxLength"
                    class="text">
                    Last name must be under {{$v.createPlayerDetails.lastname.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.lastname.lastname"
                    class="text">
                    Please use a valid last name.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Email -->
          <b-form-group id="create-player-email-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="EMAIL*"
                        label-for="create-player-email-input">

            <b-form-input id="create-player-email-input"
                          class="px-4"
                          v-model.trim="$v.createPlayerDetails.email.$model"
                          :state="!$v.createPlayerDetails.email.$error"
                          type="email"
                          autocomplete="off"
                          required></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsEmailFeedback">

              <span v-if="!$v.createPlayerDetails.email.required"
                    class="text">
                    Email field is required.</span>
              <span v-if="!$v.createPlayerDetails.email.minLength"
                    class="text">
                    Email must have at least {{$v.createPlayerDetails.email.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.email.maxLength"
                    class="text">
                    Email must be under {{$v.createPlayerDetails.email.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.email.email"
                    class="text">
                    Please use a valid email.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Password -->
          <b-form-group id="create-player-password-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="PASSWORD*"
                        label-for="create-player-password-input">

            <b-input-group>
              <b-form-input id="create-player-password-input"
                            class="px-4 password-input"
                            v-model="$v.createPlayerDetails.password.$model"
                            :state="!$v.createPlayerDetails.password.$error"
                            :type="getFieldType(isPasswordShown)"
                            autocomplete="off"
                            required></b-form-input>

              <b-input-group-append>

                <b-btn id="toggle-password"
                       class="password-action-btn toggle-password password py-1 px-3"
                       :data-set="'toggle-password'"
                       @click.prevent="togglePassword">
                       <span :class="{'icon-ic_closeeyes': isPasswordShown, 'icon-ic_openeyes': !isPasswordShown}"></span></b-btn>

                <!-- Autogen Password -->
                <b-btn id="autogen-password"
                       class="password-action-btn py-1 px-3"
                       @click.prevent="generatePassword()">Auto Generate</b-btn>

              </b-input-group-append>

              <b-form-invalid-feedback id="createPlayerDetailsPasswordFeedback">

                <span v-if="!$v.createPlayerDetails.password.required"
                      class="text">
                      Password field is required.</span>
                <span v-if="!$v.createPlayerDetails.password.minLength"
                      class="text">
                      Password must have at least {{$v.createPlayerDetails.password.$params.minLength.min}} letters.</span>
                <span v-if="!$v.createPlayerDetails.password.maxLength"
                      class="text">
                      Password must be under {{$v.createPlayerDetails.password.$params.maxLength.max}} letters.</span>
                <span v-if="!$v.createPlayerDetails.password.password"
                      class="text">
                      Please use a valid password.</span>

              </b-form-invalid-feedback>

            </b-input-group>
          </b-form-group>

          <!-- Confirm Password -->
          <b-form-group id="create-player-confirm-password-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="CONFIRM PASSWORD*"
                        label-for="create-player-confirm-password-input">

            <b-input-group>
              <b-form-input id="create-player-confirm-password-input"
                          class="px-4 password-input"
                          v-model="$v.createPlayerDetails.confirmPassword.$model"
                          :state="!$v.createPlayerDetails.confirmPassword.$error"
                          :type="getFieldType(isConfirmPasswordShown)"
                          autocomplete="off"
                          required></b-form-input>

              <b-input-group-append>
                <b-btn id="toggle-confirm-password"
                       class="password-action-btn toggle-password confirm py-1 px-3"
                       :data-set="'toggle-confirm-password'"
                       @click.prevent="toggleConfirmPassword">
                       <span :class="{'icon-ic_closeeyes': isConfirmPasswordShown, 'icon-ic_openeyes': !isConfirmPasswordShown}"></span></b-btn>
              </b-input-group-append>

              <b-form-invalid-feedback id="createPlayerDetailsConfirmPasswordFeedback">
                <span v-if="!$v.createPlayerDetails.confirmPassword.sameAsPassword"
                      class="text">
                      Password must be identical.</span>

              </b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>

          <!-- Phone -->
          <b-form-group id="create-player-phone-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="PHONE"
                        label-for="create-player-phone-input">

            <b-form-input id="create-player-phone-input"
                          class="px-4"
                          v-model.trim="$v.createPlayerDetails.phone.$model"
                          :state="!$v.createPlayerDetails.phone.$error"
                          type="text"
                          autocomplete="off"></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsPhoneFeedback">

              <span v-if="!$v.createPlayerDetails.phone.minLength"
                    class="text">
                    Phone must have at least {{$v.createPlayerDetails.phone.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.phone.maxLength"
                    class="text">
                    Phone must be under {{$v.createPlayerDetails.phone.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.phone.numeric"
                    class="text">
                    Please enter a valid phone number consisting of digits only.</span>

            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Company -->
          <b-form-group id="create-player-company-group"
                        class="cms-field-group"
                        horizontal
                        :label-cols="3"
                        breakpoint="md"
                        label="COMPANY"
                        label-for="create-player-company-input">

            <b-form-input id="create-player-company-input"
                          class="px-4"
                          v-model.trim="$v.createPlayerDetails.company.$model"
                          :state="!$v.createPlayerDetails.company.$error"
                          type="text"
                          autocomplete="off"></b-form-input>

            <b-form-invalid-feedback id="createPlayerDetailsCompanyFeedback">

              <span v-if="!$v.createPlayerDetails.company.minLength"
                    class="text">
                    Company must have at least {{$v.createPlayerDetails.company.$params.minLength.min}} letters.</span>
              <span v-if="!$v.createPlayerDetails.company.maxLength"
                    class="text">
                    Company must be under {{$v.createPlayerDetails.company.$params.maxLength.max}} letters.</span>
              <span v-if="!$v.createPlayerDetails.company.company"
                    class="text">
                    Please use a valid company.</span>

            </b-form-invalid-feedback>
          </b-form-group>
        </div>

        <b-container class="py-5">
          <b-row>
            <app-message-alert class="mx-auto"></app-message-alert>
          </b-row>

          <b-row>
            <b-col md="3">
              <router-link id="back-to-player-list"
                           class="cms-action-link d-inline-block pt-2"
                           :to="{name: 'admin-display-player'}">
                           &#060; BACK TO LIST</router-link>
            </b-col>

            <b-col md="6"
                   class="text-center">

              <b-button id="create-player-submit"
                        class="badge-pill p-2 cms-action-btn action-btn-active"
                        size="md"
                        type="submit"
                        :disabled="$v.createPlayerDetails.$anyError">
                        SAVE</b-button>

              <b-button id="create-player-reset"
                        class="badge-pill p-2 cms-action-btn action-btn-reset"
                        size="md"
                        type="reset">
                        RESET</b-button>

            </b-col>
          </b-row>
        </b-container>

      </b-form>
    </div>

    <app-success-modal ref="success">
                       </app-success-modal>

    <app-leave-modal ref="leavePage"
                     @confirm="redirectPage"></app-leave-modal>

  </div>
</template>

<script>
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'
  import AppSuccessModal from '@/components/shared/AppSuccessModal.vue'
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import UserOperationMixin from '@/mixins/user/operation_mixin'
  import UserValidationMixin from '@/mixins/user/validation_mixin'

  export default {
    name: 'admin-create-player',
    mixins: [UserOperationMixin, UserValidationMixin],
    components: {
      'app-message-alert': AppMessageAlert,
      'app-success-modal': AppSuccessModal,
      'app-leave-modal': AppLeaveModal
    },
    data: function () {
      return {
        createPlayerDetails: {
          username: '',
          firstname: '',
          lastname: '',
          email: '',
          password: '',
          confirmPassword: '',
          phone: '',
          company: ''
        }
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      isFormChanged: function () {
        return this.$v.createPlayerDetails.$anyDirty
      }
    },
    methods: {
      ...mapActions('user', [
        'actionCmsAddUser',
        'actionCmsIsUsernameExist'
      ]),
      requestUserAdd: async function () {
        this.$v.createPlayerDetails.$touch()
        if (this.$v.createPlayerDetails.$anyError) return

        let createPlayerDetails = this.createUserParams()
        let payload = {
          token: this.userToken,
          userDetails: createPlayerDetails
        }

        try {
          const res = await this.actionCmsAddUser(payload)
          const username = res.User.Username
          this.initCreatePlayer()
          bus.$emit('ShowSuccess', `User [${username}] Added Succefully!`)
          this.$refs.success.show()
        } catch (err) {
          console.warn('err', err.body.Data.AdditionalMessage)
          bus.$emit('ShowError', err.body.Data.AdditionalMessage)
          throw err
        }
      },
      applyPassword: function (password) {
        this.createPlayerDetails.password = password
        this.createPlayerDetails.confirmPassword = password
        this.isPasswordShown = true
        this.isConfirmPasswordShown = true
      },
      initCreatePlayer: function () {
        this.createPlayerDetails.username = ''
        this.createPlayerDetails.firstname = ''
        this.createPlayerDetails.lastname = ''
        this.createPlayerDetails.email = ''
        this.createPlayerDetails.password = ''
        this.createPlayerDetails.confirmPassword = ''
        this.createPlayerDetails.phone = ''
        this.createPlayerDetails.company = ''
        this.$nextTick(() => { this.$v.createPlayerDetails.$reset() })
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        this.requestUserAdd()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.initCreatePlayer()
        this.isPasswordShown = false
        this.isConfirmPasswordShown = false
      }
    },
    created: function () {
      this.initCreatePlayer()
    }
  }
</script>
