<template>
  <div id="admin">
    <the-header></the-header>
    <div class="container nav justify-content-end admin-nav">
      <auth-logout></auth-logout>
    </div>
    <div id="admin-area">
      <b-container class="admin-container py-5 px-0">
        <router-view />
      </b-container>
    </div>
  </div>
</template>

<script>
  import TheHeader from '@/components/common/TheHeader.vue'
  import AuthLogout from '@/components/auth/AuthLogout.vue'

  import '@/assets/css/cms/admin.scss'

  export default {
    name: 'admin',
    components: {
      'the-header': TheHeader,
      'auth-logout': AuthLogout
    }
  }
</script>
