<template>
  <div id="lobby">
    <the-header></the-header>
    <the-navigation></the-navigation>
    <transition name="fade">
      <router-view />
    </transition>
    <the-footer></the-footer>
  </div>
</template>

<script>
  import TheHeader from '@/components/common/TheHeader.vue'
  import TheFooter from '@/components/common/TheFooter.vue'
  import TheNavigation from '@/components/common/TheNavigation.vue'

  export default {
    name: 'lobby',
    components: {
      'the-header': TheHeader,
      'the-footer': TheFooter,
      'the-navigation': TheNavigation
    }
  }
</script>

<style lang="scss" scoped>
  #lobby {
    overflow: hidden;
  }
</style>
