<template>
  <div id="home">
    <the-banner></the-banner>
    <the-ticker></the-ticker>
    <lobby-game></lobby-game>
  </div>
</template>

<script>
  import LobbyGame from '@/containers/LobbyGame.vue'
  import TheBanner from '@/components/common/TheBanner.vue'
  import TheTicker from '@/components/common/TheTicker.vue'

  export default {
    name: 'lobby-home',
    components: {
      'lobby-game': LobbyGame,
      'the-banner': TheBanner,
      'the-ticker': TheTicker
    }
  }
</script>
