<template>
  <div id="download" class="game-component">
    <b-container class="game-list-container px-0 py-4">
      <h1 class="title">{{ $tm('#Site.Navigation.Download#') }}</h1>
      <b-row class="game-list-inner">
        <b-col class="game-container" cols="12" md="6" offset-md="3">
          <!-- Visible on Touches -->
          <div v-if="isMobile" class="game-inner msg-box text-center">
            <p>{{ $tm('#Page.Download.RWD.Description#') }}</p>
          </div>
          <!-- Visible on Desktop -->
          <div v-else class="game-inner">
            <div class="game-img">
              <img class="img-fluid" src="static/imgs/download.png" alt="">
            </div>
            <div class="game-info">
              <a href="./static/file/viper.exe">
                <span class="game-btn mx-auto">{{ $tm('#Page.Download.Action.Btn#') }}</span>
              </a>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import '@/assets/css/download/download.scss'

  export default {
    name: 'lobby-download'
  }
</script>

