<template>
  <div id="register"
       class="game-component">
    
    <b-container class="contact-container px-0 py-4">

      <!-- Message Form -->
      <div v-if="!isShowResponse">
        <h1 class="title my-5">
            {{$tm('#Page.Register.Title#')}}</h1>

        <b-form id="message-form"
                :novalidate="true"
                @submit.prevent="onSubmit">

          <!-- Sender: First Name & Last Name -->
          <b-form-group id="message-sender-group"
                        class="message-field-group"
                        horizontal
                        :label-cols="2"
                        breakpoint="md"
                        :label="$tm('#Page.Register.Form.Sender.Title#')+'*'"
                        label-for="message-sender-firstname">

            <b-row>
              <!-- First Name -->
              <b-col>
                <b-form-input id="message-sender-firstname"
                              class="message-field px-4 py-2"
                              v-model.trim="$v.message.firstname.$model"
                              :state="!$v.message.firstname.$error"
                              type="text"
                              autocomplete="off"
                              required
                              maxlength="42"
                              :placeholder="$tm('#Page.Register.Form.Sender.FirstName.Placeholder#')"></b-form-input>

                <b-form-invalid-feedback id="message-firstname-feedback">
                  <span v-if="!$v.message.firstname.required"
                        class="text">
                        {{$tm("#Error.Msg.Register.Required#")}}</span>
                  <span v-if="!$v.message.firstname.maxLength"
                        class="text">
                        {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.firstname.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
                </b-form-invalid-feedback>
              </b-col>

              <!-- Last Name -->
              <b-col>
                <b-form-input id="message-sender-lastname"
                              class="message-field px-4 py-2 col-sm"
                              v-model.trim="$v.message.lastname.$model"
                              :state="!$v.message.lastname.$error"
                              type="text"
                              autocomplete="off"
                              required
                              maxlength="42"
                              :placeholder="$tm('#Page.Register.Form.Sender.LastName.Placeholder#')"></b-form-input>

                <b-form-invalid-feedback id="message-lastname-feedback">
                  <span v-if="!$v.message.lastname.required"
                        class="text">
                        {{$tm("#Error.Msg.Register.Required#")}}</span>
                  <span v-if="!$v.message.lastname.maxLength"
                        class="text">
                        {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.lastname.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-form-group>

          <!-- Email -->
          <b-form-group id="message-email-group"
                        class="message-field-group"
                        horizontal
                        :label-cols="2"
                        breakpoint="md"
                        :label="$tm('#Page.Register.Form.Email.Title#')+'*'"
                        label-for="message-email">

            <b-form-input id="message-email"
                          class="message-field px-4 py-2"
                          v-model="$v.message.email.$model"
                          :state="!$v.message.email.$error"
                          type="email"
                          maxlength="52"
                          required
                          :placeholder="$tm('#Page.Register.Form.Email.Placeholder#')"></b-form-input>

            <b-form-invalid-feedback id="message-email-feedback">
              <span v-if="!$v.message.email.required"
                    class="text">
                    {{$tm("#Error.Msg.Register.Required#")}}</span>
              <span v-if="!$v.message.email.minLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Minimum.Prefix#") + $v.message.email.$params.minLength.min + $tm("#Error.Msg.Register.Minimum.Postfix#")}}</span>
              <span v-if="!$v.message.email.maxLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.email.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
              <span v-if="!$v.message.email.email"
                    class="text">
                    {{$tm("#Error.Msg.Register.Email#")}}</span>
            </b-form-invalid-feedback>
          </b-form-group>

          <!-- Phone -->
          <b-form-group id="message-phone-group"
                        class="message-field-group"
                        horizontal
                        :label-cols="2"
                        breakpoint="md"
                        :label="$tm('#Page.Register.Form.Phone.Title#')+'*'"
                        label-for="message-phone-input">

            <b-form-input id="message-phone-input"
                          class="message-field px-4 py-2"
                          v-model="$v.message.phone.$model"
                          :state="!$v.message.phone.$error"
                          type="text"
                          maxlength="22"
                          autocomplete="off"
                          required
                          :placeholder="$tm('#Page.Register.Form.Phone.Placeholder#')"></b-form-input>

            <b-form-invalid-feedback id="message-phone-feedback">
              <span v-if="!$v.message.phone.required"
                    class="text">
                    {{$tm("#Error.Msg.Register.Required#")}}</span>
              <span v-if="!$v.message.phone.minLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Minimum.Prefix#") + $v.message.phone.$params.minLength.min + $tm("#Error.Msg.Register.Minimum.Postfix#")}}</span>
              <span v-if="!$v.message.phone.maxLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.phone.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
              <span v-if="!$v.message.phone.numeric"
                    class="text">
                    {{$tm("#Error.Msg.Register.Phone#")}}</span>
            </b-form-invalid-feedback>

          </b-form-group>

          <!-- Company -->
          <b-form-group id="message-company-group"
                        class="message-field-group"
                        horizontal
                        :label-cols="2"
                        breakpoint="md"
                        :label="$tm('#Page.Register.Form.Company.Title#')+'*'"
                        label-for="message-company-input">

            <b-form-input id="message-company-input"
                          class="message-field px-4 py-2"
                          v-model.trim="$v.message.company.$model"
                          :state="!$v.message.company.$error"
                          type="text"
                          maxlength="32"
                          autocomplete="off"
                          required
                          :placeholder="$tm('#Page.Register.Form.Company.Placeholder#')"></b-form-input>

            <b-form-invalid-feedback id="message-company-feedback">
              <span v-if="!$v.message.company.required"
                    class="text">
                    {{$tm("#Error.Msg.Register.Required#")}}</span>
              <span v-if="!$v.message.company.minLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Minimum.Prefix#") + $v.message.company.$params.minLength.min + $tm("#Error.Msg.Register.Minimum.Postfix#")}}</span>
              <span v-if="!$v.message.company.maxLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.company.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
            </b-form-invalid-feedback>

          </b-form-group>

          <!-- Message Context -->
          <b-form-group id="message-context-group"
                        class="message-field-group"
                        horizontal
                        :label-cols="2"
                        breakpoint="md"
                        :label="$tm('#Page.Register.Form.Message.Title#')+'*'"
                        label-for="message-context">

            <b-form-textarea id="message-context"
                            class="message-field px-4 py-3"
                            v-model="$v.message.context.$model"
                            :state="!$v.message.context.$error"
                            maxlength="1024"
                            :rows="4"
                            :max-rows="6"
                            required
                            :placeholder="$tm('#Page.Register.Form.Message.Placeholder#')"></b-form-textarea>

            <b-form-invalid-feedback id="message-context-feedback">
              <span v-if="!$v.message.context.required"
                    class="text">
                    {{$tm("#Error.Msg.Register.Required#")}}</span>
              <span v-if="!$v.message.context.minLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Minimum.Prefix#") + $v.message.context.$params.minLength.min + $tm("#Error.Msg.Register.Minimum.Postfix#")}}</span>
              <span v-if="!$v.message.context.maxLength"
                    class="text">
                    {{$tm("#Error.Msg.Register.Maximum.Prefix#") + $v.message.context.$params.maxLength.max + $tm("#Error.Msg.Register.Maximum.Postfix#")}}</span>
            </b-form-invalid-feedback>

          </b-form-group>

          <div class="form-group message-submit-container mt-4 mb-5">
            <b-button id="message-submit"
                      class="px-3 py-2"
                      type="submit"
                      :disabled="$v.message.$anyError">
                      {{$tm('#Page.Register.Form.Submit#')}}</b-button>
          </div>
        </b-form>
      </div>

      <!-- Response -->
      <div v-else
           id="message-response"
           class="mx-auto">

        <div class="text-center">
          <b-img :src="'static/imgs/' + responseState + '.png'"
                 :alt="'response ' + responseState"
                 class="my-5" />

          <h3 :class="{'title': true, 'fail': responseState === 'fail'}">
              {{response.title}}</h3>

          <p class="desc">
             {{response.description}}</p>
        </div>
      </div>
      
    </b-container>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  import MessageValidationMixin from '@/mixins/message/validation_mixin'

  import '@/assets/css/register/register.scss'

  export default {
    name: 'lobby-register',
    mixins: [MessageValidationMixin],
    data: function () {
      return {
        message: {
          firstname: '',
          lastname: '',
          email: '',
          phone: '',
          company: '',
          context: ''
        },
        response: {
          title: '',
          description: ''
        },
        isShowResponse: false,
        responseState: ''
      }
    },
    methods: {
      ...mapActions('message', [
        'actionSendMessage'
      ]),
      requestSendMessage: async function () {
        this.$v.message.$touch()
        if (this.$v.message.$anyError) return

        let messageDetails = this.messageParams()
        let payload = {
          message: messageDetails
        }

        try {
          await this.actionSendMessage(payload)
          this.isShowResponse = true
          this.responseState = 'success'
          this.response.title = this.$tm('#Page.Register.Form.Response.Success.Title#')
          this.response.description = this.$tm('#Page.Register.Form.Response.Success.Description#')
          this.initMessage()
        } catch (err) {
          console.warn('err', err.body)
          this.isShowResponse = true
          this.responseState = 'fail'
          this.response.title = this.$tm('#Page.Register.Form.Response.Fail.Title#')
          this.response.description = err.body.Data.Description
          throw err
        }
      },
      onSubmit: function () {
        this.requestSendMessage()
      },
      messageParams: function () {
        let messageDetails = {
          sender: this.message.firstname + ' ' + this.message.lastname,
          email: this.message.email,
          subject: '[88MG88] Account Registration Request',
          phone: this.message.phone,
          company: this.message.company,
          context: this.message.context
        }

        return messageDetails
      },
      initMessage: function () {
        this.message.firstname = ''
        this.message.lastname = ''
        this.message.email = ''
        this.message.phone = ''
        this.message.company = ''
        this.message.context = ''
        this.$nextTick(() => { this.$v.message.$reset() })
      }
    }
  }
</script>
