<template>
  <div id="game">
    <gameMenu />
    <div v-if="isJackpot" id="jackpot-desc-container" class="p-4">
      <b-container id="jackpot-desc-content" class="text-center px-5 py-3" v-html="$tm('#Page.Games.Jackpot.Description#')"></b-container>
    </div>
    <lobby-live-dealer v-if="isLiveDealer" />
    <gameList v-else/>
  </div>
</template>

<script>
  import GameCategoryNavigation from '@/components/game/GameCategoryNavigation.vue'
  import GameList from '@/components/game/GameList.vue'
  import LobbyLiveDealer from '@/containers/LobbyLiveDealer.vue'

  import { mapActions } from 'vuex'

  import '@/assets/css/game/game.scss'

  export default {
    name: 'game',
    components: {
      gameMenu: GameCategoryNavigation,
      gameList: GameList,
      'lobby-live-dealer': LobbyLiveDealer
    },
    data: function () {
      return {
        isLiveDealer: false,
        isJackpot: false
      }
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'fetchData'
      }
    },
    methods: {
      ...mapActions('category', [
        'actionIsLiveDealer',
        'actionIsJackPot'
      ]),
      fetchData: async function () {
        this.isLiveDealer = await this.actionIsLiveDealer(this.$route.query.category)
        this.isJackpot = await this.actionIsJackPot(this.$route.query.category)
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
