<template>
  <div id="live-dealer" class="game-component">
    <b-container class="game-list-container px-0 py-4">
      <b-row class="game-list-inner">
        <b-col class="game-container" cols="12"
          sm="8" offset-sm="2"
          md="6" offset-md="3"
          v-for="game in games" :key="game.Id" :id="'game-' + game.Name">
          <div class="game-inner">
            <div class="game-img">
              <img class="img-fluid"
                src="static/imgs/livedealer-bg.png"
                :style="'background-image: url(./' + game.Thumbnail + ')'"
                :alt="game.Name">
            </div>
            <div class="game-info">
              <router-link :id="'gameplay-' + game.Name" :to="'/gameplay/' + game.Name">
                <span class="game-btn mx-auto">{{ $tm('#Page.Games.Action.PlayNow#') }}</span>
              </router-link>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import '@/assets/css/live-dealer/live-dealer.scss'

  const CATEGORY_LIVE_DEALER = 'livedealer'

  export default {
    name: 'lobby-live-dealer',
    data: function () {
      return {
        games: []
      }
    },
    methods: {
      ...mapActions('game', [
        'actionGetCategoryGames'
      ])
    },
    created: async function () {
      this.games = await this.actionGetCategoryGames({
        category: CATEGORY_LIVE_DEALER,
        locale: this.locale,
        isMobile: this.isMobile
      })
    }
  }
</script>
