<template>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'logout',
    methods: {
      ...mapActions('auth', [
        'actionLogout'
      ]),
      ...mapActions('banner', [
        'actionClearBanners'
      ]),
      ...mapActions('category', [
        'actionClearCategories'
      ]),
      ...mapActions('game', [
        'actionClearGames'
      ]),
      logout: function () {
        this.actionLogout()
        this.$emit('logoutSuccess')
        this.actionClearCategories()
        this.actionClearGames()
        this.actionClearBanners()
        this.$router.push('/')
      }
    },
    mounted: function () {
      this.logout()
    }
  }
</script>
