<template>
  <div id="page-not-found">
    <the-header></the-header>
    <b-container class="pnf-container text-center">
      <b-img src="static/imgs/page-not-found.png" class="mb-5" fluid alt="Page Not Found" />
        <h1>{{ $tm('#Page.404.Title#') }}</h1>
        <p>{{ $tm('#Page.404.Description#') }}</p>
        <router-link to="/home" class="btn px-4 py-2 mt-3 back-home">{{ $tm('#Page.404.Action.BackHome#') }}</router-link>
    </b-container>
  </div>
</template>

<script>
  import TheHeader from '@/components/common/TheHeader.vue'

  import '@/assets/css/shared/pagenotfound.scss'

  export default {
    name: 'pagenotfound',
    components: {
      'the-header': TheHeader
    }
  }
</script>

<style lang="scss" scoped>

</style>
