@import '../_setting.scss';

#admin {
  #site-link {
    width: 128px;
    height: 45px;
  }
  .header-container {
    height: 80px;
  }
  header#header {
    border: none;
  }
  // For admin Nav
  .admin-nav {
    position: relative;
    #after-login-nav {
      position: absolute;
      right: 0;
      top: -58px;
    }
    .nav-item {
      border: none;
    }
  }
}

#admin-area {
  background: $elephant;
}

.admin-container {
  min-height: calc(100vh - 80px);
  .admin-title {
    color: $gold;
    font-family: $brand_font;
    font-size: $font-size-XL;
    text-align: center;
    margin-bottom: $gap-size-M;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
}

.admin-tabs-container {
  font-family: $brand_font;
  font-size: $font-size-L;
  .admin-tab {
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    &:first-child, &:last-child {
      border: none;
    }
    &:first-child a {
      border-radius: 5px 0 0 0;
    }
    &:last-child a {
      border-radius: 0 5px 0 0;
    }
    a {
      display: block;
      height: $gap-size-XL;
      line-height: $gap-size-XL;
      background: $tab;
      color: $white;
      border: 1px solid $tab;
      &.is-active {
        background: $white;
        color: $gold;
        border-color: $white;
        cursor: default;
      }
    }
  }
}

.admin-table-head {
  background: $white;
}
