@import '../_setting.scss';

// Form Layouts
.cms-field-container {
  background: $white;
  border-radius: 3px;
  padding-left: 5rem;
  padding-right: 5rem;

  .cms-field-group {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }

    // label
    .col-form-label {
      color: $gold;
      font-family: $brand_font;
      font-size: 1.125rem;
      letter-spacing: 0.2px;
    }

    // inputs, textarea
    input, textarea, span, select {
      font-size: 0.875rem;
      color: $dark;
    }
  }

  // for password operation action btn
  button.password-action-btn {
    border-color: $rock!important;
    &:focus {
      box-shadow: none!important;
    }
  }
  button.toggle-password {
    background: transparent;
    border-left: none!important;
    &:hover, &:active {
      background-color: transparent!important;
    }
    &.password {
      border-radius: 0!important;
      border-right: 0;
    }
    &.confirm {
      border-radius: 0 2px 2px 0!important;
    }
    span {
      display: inline-block;
      vertical-align: text-bottom;
      font-size: 1.25rem;
      color: $rock;
    }
  }
  button#autogen-password {
    background: $gold;
    border-radius: 0 2px 2px 0;
    &:hover {
      background: $brown;
    }
  }
  input.password-input {
    border-radius: 2px 0 0 2px!important;
    border-right: none;
  }

  // for reset password
  #reset-password {
    span {
      font-weight: bold;
    }
  }

  // reset default input styles
  .form-control {
    border: 1px solid $rock;
    &::placeholder {
      color: $smoke;
      font-size: 0.875rem;
    }
    &:-webkit-autofill {
      font-size: 0.875rem;
    }
    &:focus {
      border: 2px solid $gold;
      background-color: rgba($white, 0.5);
    }
    &:disabled {
      color: $gray;
      cursor: not-allowed;
    }
    &.is-valid {
      border-color: $rock;
    }
    &.is-invalid {
      border: 2px solid $danger;
      background: rgba($danger, 0.05);
    }
    &.is-pending {
      background-color: rgba($white, 0.5)!important;
    }
  }

  // for invalid field
  .invalid-feedback {
    font-size: 0.875rem;
    .text {
      color: $danger;
      font-weight: bold;
    }
  }
}

// cms action button
.cms-action-btn {
  min-width: 100px;
  font-size: 0.875rem!important;
  font-weight: bold!important;
  font-family: $default_font;
  border: none!important;
  letter-spacing: 0.1px;
  + .cms-action-btn {
    margin-left: 2rem;
  }
  &.action-btn-active {
    background-color: rgba($gold, 0.88);
    &:hover {
      background-color: $brown;
    }
  }
  &.action-btn-reset {
    background-color: $smoke;
  }
  &:focus {
    box-shadow: none!important;
  }
  &:disabled {
    background-color: rgba($gold, 0.75)!important;
    cursor: not-allowed;
  }
}

// cms action link
.cms-action-link {
  color: $gold;
  font-family: $brand_font;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  &:hover {
    color: $brown;
  }
}

// cms modal success
.modal-success {
  .modal-sm {
    max-width: 360px!important;
  }
  .modal-content {
    border: none;
    background: $black;
  }
  .modal-body {
    color: $white;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  .modal-footer {
    border: none;
    padding: 0;
    .btn {
      display: block;
      width: 100%;
      border-radius: 0 0 0.3rem 0.3rem;
      border: none;
      background: $btn;
      color: $black;
      font-weight: bold;
      padding: 10px;
    }
  }
}