@import '../_setting.scss';

.crud-game-container {
  background: $white;
  margin-bottom: $gap-size-S;
  .crud-panel-toggler {
    border: none;
    background: $white;
    color: $gold;
    font-size: $font-size-L;
    display: block;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: $brown;
      .crud-step-number {
        border-color: $brown;
      }
    }
    a {
      color: $gold;
      &:hover {
        color: $brown;
      }
    }
  }
  .crud-step-title {
    font-family: $brand_font;
  }
  .crud-step-number {
    font-weight: bold;
    border: 2px solid $gold;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .col-form-label {
    font-family: $brand_font;
    font-size: 1rem;
    color: $gold;
  }
  .custom-control-label {
    &::before, &::after {
      top: 0;
    }
  }
  .game-data-panel .form-control {
    font-size: $font-size-M;
  }
  .crud-game-categories {
    font-family: $brand_font;
    font-size: $font-size-M;
    color: $rock;
    .custom-control {
      display: inline-block;
      padding-top: 4px;
    }
  }

  .crud-game-image {
    input {
      height: 100%!important;
      cursor: -webkit-grab;
      cursor: grab;
    }
    .custom-file-control {
      height: 100%!important;
    }
    .custom-file-control[data-choose]::before {
      border: none;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: 50%;
      color: $rock;
      text-align: center;
      font-size: $font-size-XS;
      background: url('../imgs/upload.png') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .custom-file-control[data-selected]::after {
      position: absolute;
      z-index: 6666;
      left: 0;
      bottom: $gap-size-S;
      font-size: $font-size-S;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .image-preview {
    position: relative;
    text-align: center;
    .img-preview-container {
      position: relative;
      display: inline-block;
      .remove-img {
        position: absolute;
        right: -18px;
        top: -18px;
        width: 36px;
        height: 36px;
        background: $white;
        border: 2px solid $gold;
        border-radius: 50%;
        cursor: pointer;
        &::before {
          color: $gold;
          font-size: 24px;
          font-weight: bold;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
      img {
        width: auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.crud-btn {
  width: 100px;
  font-size: $font-size-S!important;
  border: none!important;
  display: block;
  color: $white!important;
  cursor: pointer;
  &.crud-btn-action {
    background: $gold;
    &:hover {
      background: $brown;
    }
  }
  &.crud-btn-reset {
    background: $smoke;
  }
}

// for main btns
.btn-operation-game {
  color: $white;
  font-size: $font-size-M!important;
  background: $gold;
  cursor: pointer;
  min-width: 100px;
  &.btn-cancel {
    background: $smoke;
    &:hover {
      background: $gray;
    }
  }
  &:disabled {
    background: $smoke;
    cursor: not-allowed;
    &:hover {
      background: $smoke;
    }
  }
  &:hover {
    background: $brown;
    color: $white;
  }
  span {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
    font-size: $font-size-L;
  }
  .icon-ic_add {
    font-weight: bold;
    font-size: 1rem;
    vertical-align: text-top;
  }
}

.btn-back-container {
  font-family: $brand_font;
  font-size: $font-size-L;
  a {
    color: $gold;
    &:hover {
      color: $brown;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// for cms filter players
#filter-input {
  width: 180px;
  input {
    border: 1px solid $rock;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem!important;
    &::-ms-clear {
      display: none;
    }
    &:focus {
      border: 1px solid $rock!important;
      border-right: none!important;
    }
  }
  button {
    background: transparent;
    border: 1px solid $rock;
    border-left: none;
    opacity: 1;
    color: $gold;
    padding: 0.3rem 0.5rem 0.1rem;
    span::before {
      font-size: 1.5rem!important;
    }
  }
}

// for cms time range input
#time-range-input {
  .mx-input {
    padding: 1.125rem 0.75rem;
    line-height: 1.5;
    border: 1px solid $rock;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: none;
    &::placeholder {
      color: $smoke;
    }
    &::-ms-clear {
      display: none;
    }
  }
}

.mx-input-append {
  right: 0.5rem!important;
  .mx-calendar-icon {
    color: $gold;
    stroke-width: 1rem;
  }
  text {
    display: none;
  }
}

// for cms time range submit
#time-range-submit {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  padding: 0.5rem 1.5rem;
  height: 38px;
  background-color: $gold;
  border: 1px solid $rock;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin-left: -4px;
  &.btn-secondary:focus {
    box-shadow: none;
  }
}

// for cms time range calendar
.mx-datepicker-popup {
  border: 1px solid red;
  border-radius: 5px;
  .mx-calendar {
    color: $silver;
    font-weight: bold;
  }
  .mx-current-month {
    text-transform: uppercase;
  }
  .mx-panel-date td.today {
    color: $gold;
    background-color: $white;
  }
  .mx-calendar-content .cell {
    &:hover {
      background-color: $wheat;
      color: $dark;
    }
    &.actived {
      background-color: $gold;
      color: $white;
    }
    &.inrange {
      background-color: $wheat;
    }
    &.disabled {
      background-color: $white;
    }
  }
  .mx-time-list .cell {
    text-align: center;
    letter-spacing: 0.2rem;
  }
  .mx-datepicker-btn-confirm {
    background-color: $gold;
    color: $white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1px;
    &:hover {
      color: $white;
      background-color: $brown;
    }
  }
}

// Rewrite Form Styling from Bootstrap
.form-control {
  border-radius: 2px!important;
  &:focus {
    border: 2px solid $gold!important;
    box-shadow: none!important;
  }
  &.is-valid {
    &:focus {
      border: 2px solid $gold!important;
      box-shadow: none!important;
    }
  }
}

#upload-banner-img-group,
#update-banner-img-group-en,
#update-banner-img-group-cn,
#upload-game-img-group,
#update-game-img-group-en,
#update-game-img-group-cn {
  display: block;
  position: relative;
  padding-bottom: $gap-size-S;
  .custom-file {
    height: 100%!important;
    margin-bottom: 2rem;
  }
  .custom-file-label {
    height: 360px;
    background: transparent;
    border: none;
    margin-bottom: $gap-size-XS;
    &::after {
      display: none;
    }
    &:hover {
      border: 2px dashed $sand;
    }
  }
  .custom-file-input {
    height: 300px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  span.custom-file-control {
    background: transparent;
    height: 300px;
    width: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
    &::before, &::after {
      display: none;
    }
  }
  .invalid-feedback {
    text-align: center;
    font-weight: bold;
    font-family: $brand_font;
  }
  .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    span {
      display: block;
      text-align: center;
      color: $smoke;
      font-size: $font-size-M;
      &.icon-ic_upload {
        font-size: 160px;
      }
      &.desc {
        font-family: $brand_font;
        font-size: $font-size-L;
      }
      &.blue {
        color: $blue;
        font-size: $font-size-L;
        text-decoration: underline;
        font-family: $brand_font;
      }
      &.small {
        font-size: $font-size-M;
      }
    }
  }
  .drop-here {
    background: $tab;
    border: 2px dashed $sand;
    border-radius: none;
    font-family: $brand_font;
    font-weight: bold;
    &::before {
      content: 'Drop file to Upload';
      color: $sand;
    }
  }
}

#upload-game-img-group,
#update-game-img-group-en,
#update-game-img-group-cn {
  width: 360px;
  height: 360px;
  margin: 0 auto;
  .icon-ic_upload {
    font-size: 160px;
    margin-top: 10px;
  }
}

// Refactory me
.upload-banner-img {
  height: initial!important;
  margin-bottom: 1.5rem!important;
}