@import '../_setting.scss';
@import '../_iconmoon.scss';


.admin-display {
  color: $silver;
  // for cms display players
  .cms-table-container {
    background: $white;
    table {
      margin-bottom: 0!important;
    }
    thead {
      th {
        text-transform: uppercase;
        border-top: 1px solid $rock;
        border-bottom: 1px solid $rock;
        padding: 0.75rem 0.5rem;
        &:first-of-type {
          padding-left: 2rem;
        }
        &:last-of-type {
          padding-right: 2rem;
        }
      }
    }
    tbody {
      tr {
        &:nth-last-of-type(odd) {
          background-color: $paper;
        }
        &:nth-last-of-type(even) {
          background-color: $white;
        }
        &:hover {
          background-color: $wheat;
        }
        &.table-disabled {
          color: $smoke;
        }
      }
      td {
        border: none;
        word-break: break-all;
        padding: 0.5rem;
        vertical-align: middle;
        &:first-of-type {
          padding-left: 2rem;
        }
        &:last-of-type {
          padding-right: 2rem;
        }
        .action-icons {
          white-space: nowrap;
        }
        .icon-set {
          font-size: 1.75rem;
          color: $rock;
          vertical-align: middle;
        }
      }
    }
  }
  .cms-table {
    background: $white;
    font-size: $font-size-M;
    .btn-action-game {
      cursor: pointer;
      color: $rock;
      font-size: 28px;
    }
    .btn-action-container {
      padding-top: 12px!important;
    }
  }
  .cms-table-header {
    background: $white;
    border-top: 1px solid $rock;
    border-bottom: 1px solid $rock;
    font-weight: bold;
  }
  .cms-table-body {
    .list-title {
      word-break: break-all;
    }
    // For Sorting Mode
    &.isSortingActive {
      .cms-table-row {
        cursor: move;
        position: relative;
        z-index: 300;
        &:hover {
          z-index: 500;
          -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);          
        }
      }
    }
    &:not(.isSortingActive) {
      .cms-table-row:hover {
        background: $wheat;
        color: $black;
        .btn-action-game {
          color: $black;
        }
      }
    }
    .cms-table-row {
      &:nth-child(even) {
        background: $paper;
      }
      &:nth-child(odd) {
        background: $white;
      }
    }
    // For Sortable Item
    .sortable-chosen {
      background: $gold!important;
      color: $white!important;
    }
    .sortable-ghost {
      background: $wheat!important;
      color: $black!important;
    }
    // For Draft Mode
    .cms-state-draft {
      font-weight: bold;
      color: $gold;
      &:hover {
        color: $brown!important;
        .btn-action-game {
          color: $brown!important;
        }
      }
      .cms-state-bar {
        width: 6px;
        background: $gold;
        -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.35);
      }
      .btn-action-game {
        color: $gold;
      }
    } 
  }
}

// Game categories selection
#btn-game-select {
  font-family: $brand_font;
  button {
    min-width: 160px;
    text-align: left;
    color: $gold;
    background: none;
    border-color: $smoke;
    padding: 0.25rem 1.5rem;
    height: 40px;
    line-height: 38px; // for weird font type
    &::after {
      position: absolute;
      right: 10px;
      top: 16px;
    }
    &:disabled {
      color: $smoke;
      cursor: not-allowed;
    }
  }
  .dropdown-menu {
    padding: 0;
  }
  .game-select-item {
    color: $rock;
    height: 36px;
    line-height: 32px; // for weird font type
    &:hover {
      background: $wheat;
      color: $gold;
    }
  }
}
