@import '../_setting.scss';

.title {
  color: $gold;
  text-align: center;
  font-size: $font-size-XL;
  font-family: $brand_font;
  margin: $gap-size-S 0;
  letter-spacing: 0.1px;
}

#download {
  .game-img {
    position: relative;
    .game-btn {
      position: absolute;
      text-align: center;
      background: $download;
      color: $white;
      display: inline-block;
    }
  }
  .game-inner:hover {
    .game-img .game-btn {
      display: none;
    }
  }
  .game-inner .game-title {
    margin-top: 20%;
  }

  // Message for Touches
  .msg-box {
    border: none;
    color: $white;
  }
}
