<template>
  <b-modal centered ok-only no-close-on-backdrop no-close-on-esc hide-header-close
           size="sm"
           ref="expiredModal"
           id="expired-modal"
           class="history-fail-modal"
           @ok="logout">
      <h2 class="title">{{ $tm('#Error.Msg.Expired.Title#') }}</h2>
      <p class="description p-2">{{ $tm('#Error.Msg.Expired.Description#') }}</p>
    </b-modal>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'app-expired-modal',
    computed: {
      ...mapState('auth', [
        'isShownExpiredPrompt'
      ])
    },
    watch: {
      isShownExpiredPrompt: function () {
        if (this.isShownExpiredPrompt) {
          this.$refs.expiredModal.show()
        }
      }
    },
    methods: {
      ...mapActions('auth', [
        'actionLogout',
        'actionHideExpiredPrompt'
      ]),
      logout: function () {
        this.actionHideExpiredPrompt()
        this.actionLogout()
        this.$router.push('/logout')
      }
    }
  }
</script>
