<template>
  <div id="loading" v-show="isLoading">
    <img id="spin"
         src="static/imgs/loading.svg"
         alt="loading">
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import '@/assets/css/shared/loading.scss'

  export default {
    name: 'app-loading',
    computed: {
      ...mapGetters('shared', [
        'isLoading'
      ])
    }
  }
</script>
