<template>
  <b-modal ref="leaveModal" lazy centered title="LEAVE THIS PAGE" :hide-header-close="true" id="leaveConfirm" class="auth-modal">
    <form id="leaveConfirm-form" class="py-4">
      <p>Cancel modification and leave?</p>
    </form>

    <div slot="modal-footer" class="w-100">
      <b-container fluid>
        <b-row>
          <b-col cols="6" class="px-0">
            <a class="modal-action-btn py-3" @click.prevent="confirm">OK</a>
          </b-col>
          <b-col cols="6" class="px-0">
            <a class="modal-action-btn py-3 cancel" @click.prevent="cancel">CANCEL</a>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </b-modal>
</template>

<script>
  export default {
    name: 'app-leave-modal',
    methods: {
      leaveConfirm: function () {
        this.$refs.leaveModal.show()
      },
      confirm: function () {
        this.$emit('confirm')
      },
      cancel: function () {
        this.$emit('cancel')
        this.$refs.leaveModal.hide()
      }
    }
  }
</script>
