<template>
  <div id="message-alert">
    <b-alert :variant="variant"
      dismissible
      :show="isShown"
      class="text-center"
      @dismissed="isShown=false">{{ message }}</b-alert>
  </div>
</template>

<script>
  import bus from '@/bus'

  export default {
    name: 'app-message-alert',
    data: function () {
      return {
        isShown: false,
        message: '',
        variant: 'default'
      }
    },
    methods: {
      onSuccess: function (message) {
        this.showMessage('success', message)
      },
      onError: function (message) {
        this.showMessage('danger', message)
      },
      showMessage: function (variant, message) {
        this.isShown = true
        this.variant = variant
        this.message = message
      },
      dismissMessage: function () {
        this.isShown = false
        this.variant = 'default'
        this.message = ''
      }
    },
    mounted: function () {
      bus.$on('ShowSuccess', this.onSuccess)
      bus.$on('ShowError', this.onError)
      bus.$on('Dismiss', this.dismissMessage)
    }
  }
</script>
