<template>
  <b-modal centered
           no-close-on-backdrop
           no-close-on-esc
           hide-header
           ok-only
           size="sm"
           ref="success"
           id="success-modal"
           class="modal-success"
           @ok="backToList">
    <h2 class="title">SUCCESS</h2>
    <p class="description px-2 py-3 text-center">GO BACK TO PLAYER LIST</p>
  </b-modal>
</template>

<script>
  export default {
    name: 'app-success-modal',
    methods: {
      show: function () {
        this.$refs.success.show()
      },
      backToList: function () {
        this.$router.push('/admin/player/display')
      }
    }
  }
</script>
