@import '../_setting.scss';

#locale {
  .dropdown-item {
    &:active, &:hover, &:focus {
      background: inherit;
    }
  }
  .locale-lang {
    display: inline-block;
  }
  
  // For RWD Desktop
  @media screen and (min-width: $wild) {
    margin-left: 1rem;
    img {
      vertical-align: text-bottom;
    }
    .dropdown-toggle {
      min-width: 100px;
      width: 136px;
      color: $white;
      font-weight: bold;
      background: rgba($white, 0.1);
      box-shadow: none;
      border-color: $silver;
      padding: 0.25rem 1rem;
      height: 36px;
      text-align: left;
      &::after {
        position: absolute;
        right: 10px;
        top: 15px;
      }
    }
    .dropdown-menu {
      border: none;
      background: $sand;
      min-width: 100px;
      width: 136px;
      padding: 0;
    }
    .dropdown-item {
      font-weight: bold;
      color: $white;
      padding: 0.25rem 1rem;
      &:hover {
        background: $dark
      }
      &:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
      }
    }
    .locale-lang {
      min-width: 60px;
      width: 60px;
    }
  }

  // For RWD Devices
  @media screen and (max-width: $wild - 1px) {
    text-align: center;
    .dropdown-toggle {
      display: none;
    }
    .locale-dropdown {
      width: 100%;
      margin-bottom: 1rem;
    }
    .locale-lang {
      margin-right: 10px;
      vertical-align: top;
      margin-top: -5px;
    }
    .dropdown-menu {
      display: block;
      min-width: 100%;
      background: none;
    }
    .dropdown-item {
      float: left;
      text-align: center;
      width: 50%;
      color: $gold;
      font-size: $font-size-L;
      font-weight: bold;
      height: 1rem;
      line-height: 1rem;
      clear: initial;
      &:active, &:hover, &:focus {
        color: $smoke;
      }
      &+.dropdown-item {
        border-left: 2px solid $rock;
      }
      img {
        vertical-align: top;
        margin-top: -5px;
      }
    }
  }
}

