@import '../_setting.scss';

#hero {
  background: $black;
  border-bottom: 2px solid $brown;
  .carousel-indicators {
    & li {
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid $white;
      border-radius: 50%;
      margin-left: 6px;
      margin-right: 6px;
      cursor: pointer;
      outline: 0;
    }
    & .active {
      background: $gold;
    }
  }

  .carousel-caption {
    // border: 1px solid red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    .hero-play-link {
      background: rgba(0, 0, 0, 0.01);
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-item {
    outline: 0;
  }

  .banner-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
