@import '../_setting.scss';

#ticker {
  border-bottom: 2px solid $brown;
  background: $black;
  .digit, .separator {
    font-family: $brand_font;
    font-size: $font-size-XL;
  }
}

@media screen and (min-width: $desktop) {
  .ticker-box {
    width: 1px;
    min-height: 100px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, $black, $black 17%, $white 50%, $black 83%, $black);
    border-image-slice: 1;
  }
}