<template>
  <div id="display">
    <h2 class="admin-title">CMS</h2>
    <app-message-alert />
    <div class="admin-display">
      <!-- CMS TABS -->
      <b-container class="admin-tabs-container">
        <b-row class="text-center">
          <b-col class="admin-tab p-0" id="tab_game_display">
            <router-link :to="{name: 'admin-display-game'}" active-class="is-active">GAME</router-link>
          </b-col>
          <b-col class="admin-tab p-0" id="tab_banner_display">
            <router-link :to="{name: 'admin-display-banner'}" active-class="is-active">BANNER</router-link>
          </b-col>
          <b-col class="admin-tab p-0" id="tab_player_display">
            <router-link :to="{name: 'admin-display-player'}" active-class="is-active">PLAYER</router-link>
          </b-col>
        </b-row>
      </b-container>
      <router-view />
    </div>
  </div>
</template>

<script>
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'
  import '@/assets/css/cms/display.scss'
  import '@/assets/css/cms/cms-form.scss'

  export default {
    name: 'admin-navigation',
    components: {
      'app-message-alert': AppMessageAlert
    }

  }
</script>
