@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?we5m5k');
  src:  url('../fonts/icomoon.eot?we5m5k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?we5m5k') format('truetype'),
    url('../fonts/icomoon.woff?we5m5k') format('woff'),
    url('../fonts/icomoon.svg?we5m5k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_date:before {
  content: "\e90c";
}
.icon-ic_log:before {
  content: "\e90d";
}
.icon-ic_closeeyes:before {
  content: "\e909";
}
.icon-ic_openeyes:before {
  content: "\e90a";
}
.icon-ic_resetpw:before {
  content: "\e90b";
}
.icon-ic_delete:before {
  content: "\e900";
}
.icon-ic_edit:before {
  content: "\e901";
}
.icon-ic_upload_error:before {
  content: "\e902";
}
.icon-ic_upload_hover:before {
  content: "\e903";
}
.icon-ic_upload:before {
  content: "\e904";
}
.icon-ic_move:before {
  content: "\e905";
}
.icon-ic_add:before {
  content: "\e906";
}
.icon-ic_close:before {
  content: "\e907";
}
.icon-ic_filter:before {
  content: "\e908";
}
