/* Breakpoints */
$hd: 1200px;
$wild: 992px;
$desktop: 768px;
$touch: 576px;
$buffer: 180px;

/* Colors */
$black: #000;
$white: #fff;
$dark: #212121;
$smoke: #bdbdbd;
$gold: #b78c25;
$brown: #6e5524;
$silver: #424242;
$sand: #616161;
$gray: #757575;
$danger: #d60020;
$elephant: #f5f5f5;
$rock: #9e9e9e;
$paper: #fafafa;
$tab: #e0e0e0;
$wheat: rgba(183, 140, 37, 0.2);
$blue: #2d82e1;

/* Btn */
$btn: linear-gradient(to bottom, #f0eac4, #e5ce43 19%, #c3a833 49%, #7d5911 89%, #4f3305);
$cancel: linear-gradient(to bottom, #e7e7e7, #e7e7e7 11%, #565656 80%, #6e6e6e 93%, #565656);
$download: linear-gradient(to bottom, #a70400, #850300 56%, #5d0100 85%, #4c0100);

/* Fonts */
$font-size-XXL: 3rem; //48
$font-size-XL: 1.5rem; //24
$font-size-L: 1.125rem; //18
$font-size-M: 0.875rem; //14
$font-size-S: 0.8125rem; //13
$font-size-XS: 0.75rem; //12

/* Gaps */
$gap-size-XL: 4rem; //64
$gap-size-L: 2.25rem; //36
$gap-size-M: 1.875rem; //30
$gap-size-S: 1.5rem; //24
$gap-size-XS: 1rem; //16

/* Fonts - Customized */
@font-face {
  font-family: 'HelveticaNeueLTCom-BdCn';
  src: url('../fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Fonts - Chinese */
@font-face {
  font-family: 'Chinese';
  unicode-range: '2E80-2FDF', '3400-4DBF', '4E00-9FFF';
  src: local('Microsoft JhengHei');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

$brand_font: 'HelveticaNeueLTCom-BdCn', 'Chinese';
$default_font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Chinese';