@import './_setting.scss';

/* Animation for Route Changing */
.fade-enter-active {
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  opacity: 1;
}
.fade-enter {
  opacity: 0.8;
}
.fade-leave {
  display: none;
}
.fade-leave-active {
  display: none;
}

/* Global Setting */
html {
  background: $black;
}

body {
  font-family: $default_font;
}

/* Remove Bootstrap Styling */
/* - a */
a {
  &:hover {
    color: inherit;
    text-decoration: none!important;
  }
  &:focus {
    outline: 0;
  }
}
/* - RWD Breakpoints */
.container {
  @media screen and (min-width: $hd + $buffer) {
    max-width: $hd + $buffer;
  }
  @media screen and (max-width: $hd - 1px) {
    max-width: $hd - $buffer;
  }
  @media screen and (max-width: $wild - 1px) {
    max-width: $wild - $buffer;
  }
  @media screen and (max-width: $desktop - 1px) {
    max-width: $desktop - $buffer;
  }
  @media screen and (max-width: $touch - 1px) {
    max-width: $touch - $buffer;
  }
}

/* box components */
.game-component {
  background: $black;
  min-height: calc(100vh - 314px);
  @media screen and (max-width: $wild) {
    padding: 0 $gap-size-XS!important;
  }
}

.game-list-inner {
  margin-left: -10px!important;
  margin-right: -10px!important;
}

.game-container {
  padding: 10px!important;
}

.game-inner {
  border: 3px solid $gray;
  position: relative;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;
  .game-img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .game-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .game-title {
    color: $white;
    font-size: $font-size-L;
    line-height: 1.5;
    margin-bottom: 20%;
  }
  .game-btn {
    padding: 10px;
    font-size: $font-size-M;
    font-weight: bold;
    position: absolute;
    display: block;
  }
  @media screen and (min-width: $desktop) {
    &:hover {
      border-color: $gold;
      .game-img {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .game-info {
        visibility: visible;
        opacity: 1;
        background: rgba(0, 0, 0, 0.7);
      }
      .game-btn {
        border-radius: 5px;
        background: $btn;
        color: $black;
        width: 50%;
        left: 25%;
        bottom: 10%;
      }
    }
  }
  @media screen and (max-width: $desktop - 1 ) {
    .game-title {
      visibility: hidden;
    }
    .game-info {
      visibility: visible;
      opacity: 1;
    }
    .game-btn {
      left: 0;
      bottom: 0;
      width: 100%;
      color: $white;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
