<template>
  <div id="game-list" class="game-component">
    <b-container class="game-list-container px-0 py-4">
      <b-row class="game-list-inner">

        <b-col class="game-container" cols="6" sm="6" md="4" xl="3"
          v-for="game in categoryGames" :key="game.Id" :id="'game-' + game.Name">
          <router-link :id="'gameplay-' + game.Name" :to="'/gameplay/' + game.Name">
            <div class="game-inner">
              <div class="game-img">
                <img class="game-thumbnail d-block img-fluid"
                  src="static/imgs/game-bg.png"
                  :style="'background-image: url(./' + game.Thumbnail + ')'"
                  :alt="game.Name" />
              </div>
              <div class="game-info">
                <b-btn v-b-modal="game.Name">
                  <h2 class="game-title">{{game.Title}}</h2>
                  <span class="game-btn mx-auto">{{ $tm('#Page.Games.Action.PlayNow#') }}</span>
                </b-btn>
              </div>
            </div>
          </router-link>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  import '@/assets/css/game/game-list.scss'

  export default {
    name: 'game-list',
    data: function () {
      return {
        categoryGames: []
      }
    },
    computed: {
      ...mapGetters('locale', {
        locale: 'getLocale'
      })
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'showCategoryGames'
      }
    },
    methods: {
      ...mapActions('category', [
        'actionGetCategory'
      ]),
      ...mapActions('game', [
        'actionGetCategoryGames'
      ]),
      showCategoryGames: async function () {
        const category = await this.actionGetCategory(this.$route.query.category)
        this.categoryGames = await this.actionGetCategoryGames({
          locale: this.locale,
          category: category,
          isMobile: this.isMobile
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
