<template>
  <div id="game-menu">
    <b-navbar toggleable="lg" class="container">
      <b-navbar-toggle target="game-menu-collapse" id="game-menu-toggler" class="py-3">
        <div class="game-menu-active-category">{{activeCategoryTitle}}<span class="triangle"></span></div>
      </b-navbar-toggle>
      <b-collapse is-nav id="game-menu-collapse">
        <b-nav id="game-menu-container" justified>
          <b-nav-item class=""
            v-for="category in categories"
            :id="'category-' + category.Name"
            :key="'category-' + category.Name"
            :active="isActive(category.Name)"
            @click="clickCategory(category.Name)">
            {{category.Title}}
          </b-nav-item>
        </b-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import '@/assets/css/game/game-menu.scss'

  export default {
    name: 'game-category-navigation',
    data: function () {
      return {
        categories: {},
        activeCategoryTitle: '',
        activeCategory: ''
      }
    },
    computed: {
      ...mapGetters('category', [
        'getCategories'
      ]),
      ...mapGetters('locale', {
        locale: 'getLocale'
      })
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'showCategories'
      }
    },
    methods: {
      ...mapActions('category', [
        'actionGetCategories',
        'actionGetCategory'
      ]),
      clickCategory: function (category) {
        this.$router.push('?category=' + category)
      },
      isActive: function (category) {
        return this.activeCategory === category
      },
      updateActiveCategory: async function () {
        this.activeCategory = await this.actionGetCategory(this.$route.query.category)
        for (let i in this.categories) {
          if (this.activeCategory === this.categories[i].Name) {
            this.activeCategoryTitle = this.categories[i].Title
          }
        }
      },
      showCategories: async function () {
        try {
          this.categories = await this.actionGetCategories({locale: this.locale})
          this.updateActiveCategory()
        } catch (err) {
          console.log(err)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
