@import '../_setting.scss';

// for trigger button
#wager-history {
  background: $btn;
  color: $black;
  font-size: $font-size-M;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px 0 rgba($black, 0.5);
  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
  &.disabled {
    background: $cancel;
    color: $silver;
    cursor: not-allowed;
  }
}

// for history table
#history-container {
  .modal-dialog {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: $black;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    background: $dark;
    border-bottom: 2px solid $brown;
    border-radius: 0;
    .modal-title {
      color: $white;
      font-size: $font-size-XL;
      font-weight: bold;
      margin: 0 auto;
      text-transform: uppercase;
    }
    .close {
      margin: 0;
      opacity: 1;
      color: $white;
      text-shadow: none;
      font-size: 0;
      position: relative;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0em;
        content: "\d7";
        font-size: 2rem;
        text-align: center;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .modal-body {
    padding: 0;
    font-size: $font-size-M;
    font-weight: normal;
    table {
      margin-bottom: 0;
      background: $dark;
    }
    thead {
      color: $gold;
      font-family: $brand_font;
      letter-spacing: 0.2px;
      th {
        font-weight: normal;
        border-bottom: 1px solid $rock;
        padding: 1rem;
        &:focus {
          outline: none;
        }
        &::before, &::after {
          font-family: $default_font;
          line-height: 120%; // for werid font sytle..
        }
        &.sorting {
          padding-left: 3em;
          &::before {
            left: 1em;
            content: '\25b2';
          }
          &::after {
            left: 1.75em;
            content: '\25bc';
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-of-type(odd) {
          background: rgba($black, 0.1)
        }
        &:hover {
          background: $sand;
        }
      }
      td {
        color: $smoke;
        border-top: none;
        padding: 1rem;
      }
    }
  }
}

// for error handling modals
.history-fail-modal {
  .modal-dialog {
    @media screen and (min-width: $touch) {
      max-width: 360px;
    }
  }
  .modal-content {
    background: $black;
    border-color: rgba($white, 0.1);
  }
  .modal-header {
    border: none;
    padding: 0.5rem 1rem;
    .close {
      color: $white;
      opacity: 1;
      text-shadow: none;
      &:focus {
        outline: none;
      }
    }
  }
  .modal-body {
    text-align: center;
    .title {
      font-size: $font-size-XL;
      color: $white;
      margin: 0 0 1.5rem;
    }
    .description {
      color: $white;
      font-size: $font-size-M;
      font-weight: normal;
      line-height: 1.5;
    }
  }
  .modal-footer {
    border: none;
    padding: 0;
    button {
      display: block;
      width: 100%;
      border: none;
      background: $btn;
      color: $black;
      font-weight: bold;
      font-size: $font-size-M;
      padding: 0.75rem;
      border-radius: 0;
      &:focus {
        box-shadow: none;
      }
      &:active {
        background: $btn!important;
        color: $black!important;
      }
    }
  }
}