@import '../_setting.scss';

#game-menu {
  background: linear-gradient(to bottom, $dark, $black 15%, $black 85%, $dark);  
  border-bottom: 2px solid $silver;
  text-align: center;
  @media screen and (max-width: $wild - 1px) {
    background: rgba(0, 0, 0, 0.8);
    .nav {
      display: block;
    }
  }
  #game-menu-container {
    width: 100%;
  }
  nav.navbar {
    padding: 0;
  }
  .nav-item {
    list-style-type: none;
    .nav-link {
      font-family: $brand_font;
      font-size: $font-size-M;
      color: $smoke;
      height: 60px;
      line-height: 50px; //for werid font type setting
      -webkit-transition: background 0.5s ease, color 0.8s linear;
      transition: background 0.5s ease, color 0.8s linear;
      &:hover {
        background: $dark;
        color: $white;
      }
      &.active {
        background: $dark;
        color: $gold;
        cursor: default;
      }
    }
  }

  // For toggle game menu
  .navbar-toggler {
    width: 100%;
    color: $gold;
    font-size: $font-size-M;
    font-family: $brand_font;
    border: none;
    // For wired Font type
    .game-menu-active-category {
      display: inline-block;
      padding-top: 4px;
      position: relative;
      .triangle {
        position: absolute;
        top: 6px;
        right: -24px;
        border-color: $gold transparent transparent transparent;
        border-style: solid solid solid solid;
        border-width: 5px;
        height: 0px;
        width: 0px;
      }
    }
    
  }
}