@import '../_setting.scss';

#game-list {
  .game-info {
    button {
      width: 100%;
      height: 100%;
      border: 0;
      background: transparent;
      cursor: pointer;
      white-space: normal;
    }
  }
  .game-img {
    width: 100%;
    height: auto;
  }
  .game-thumbnail {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

