@import '../_setting.scss';

#jackpot-desc-container {
  background: $black;
  color: $rock;
}

#jackpot-desc-content {
  border: 3px solid $rock;
  font-family: $brand_font;
  font-size: $font-size-L;
  font-weight: bold;
}

#live-dealer {
  .game-img {
    img {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}