<template>
  <div id="create-game">
    <h2 class="admin-title">ADD GAME</h2>
    <div class="crud-game-container p-3">
      <div v-b-toggle.create-game-panel
        id="create-game-panel-toggler" class="my-3 crud-panel-toggler">
        <b-container class="bv-example-row">
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">1</span>
              <span class="crud-step-title">ENGLISH</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <b-collapse visible id="create-game-panel" class="game-data-panel px-5 py-3">
        <b-form @submit.prevent="onSubmit">
          <b-container fluid>

            <b-form-group
              v-if="isDataEmpty(imageData[0])"
              id="upload-game-img-group"
              class="mb-5"
              :state="valid['detail'][0]['imageFile']"
              :invalid-feedback="hintImageFile(0)">

              <!-- Just for Hover Effect and Description -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span class="px-5">Recommended image size: aspect ratio of 1:1 (width 360 x height 360 pixels) with maximum size of 500 KB.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="upload-game-img"
                ref="imageFiles[0]"
                v-model="imageFiles[0]"
                :state="valid['detail'][0]['imageFile']"
                @change="previewImage($event, 0)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[0])">
              <span class="img-preview-container">
                <img id="preview-game-img" class="preview" :src="imageData[0]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(0)"></span>
              </span>
            </div>

            <b-form-group id="create-game-id-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['gameName']"
                  :invalid-feedback="hintGameName()"
                  description=""
                  label="GAME ID*">
              <b-form-input id="create-game-id"
                  type="text"
                  v-model.trim="gameName"
                  :state="valid['gameName']"
                  @keyup.native="verify('gameName')"
                  @change="verify('gameName')"
                  placeholder="Unique game identifier in the database, e.g. springbreak"></b-form-input>
            </b-form-group>

            <b-form-group id="create-game-name-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['displayName']"
                  :invalid-feedback="hintDisplayName(0)"
                  description=""
                  label="DISPLAY NAME*">
              <b-form-input id="create-game-name"
                  type="text"
                  v-model.trim="displayNames[0]"
                  :state="valid['detail'][0]['displayName']"
                  @change="verify('detail', 0, 'displayName')"
                  @keyup.native="verify('detail', 0, 'displayName')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-game-link-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['gameLink']"
                  :invalid-feedback="hintGameLink(0)"
                  description=""
                  label="GAME LINK*">
              <b-form-input id="create-game-link"
                  type="url"
                  v-model.trim="gameLinks[0]"
                  :state="valid['detail'][0]['gameLink']"
                  @change="verify('detail', 0, 'gameLink')"
                  @keyup.native="verify('detail', 0, 'gameLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-mobile-link-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['mobileLink']"
                  :invalid-feedback="hintMobileLink(0)"
                  description=""
                  label="MOBILE LINK">
              <b-form-input id="create-mobile-link"
                  type="url"
                  v-model.trim="mobileLinks[0]"
                  :state="valid['detail'][0]['mobileLink']"
                  @change="verify('detail', 0, 'mobileink')"
                  @keyup.native="verify('detail', 0, 'mobileLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-game-description-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['description']"
                  :invalid-feedback="hintDescription(0)"
                  description=""
                  label="DESCRIPTION">
              <b-form-textarea id="create-game-description"
                  v-model.trim="descriptions[0]"
                  :state="valid['detail'][0]['description']"
                  @change="verify('detail', 0, 'description')"
                  @keyup.native="verify('detail', 0, 'description')"
                  placeholder=""
                  :rows="3"></b-form-textarea>
            </b-form-group>

            <b-form-group id="create-game-categories-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  description=""
                  label="CATEGORY">
              <b-form-checkbox-group id="create-game-categories"
                class="crud-game-categories"
                name="game-categories"
                @change="verify('category')"
                v-model="selected"
                :options="options"></b-form-checkbox-group>
            </b-form-group>

          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <div class="crud-game-container p-3">
      <div id="create-game-other-language" class="my-3 crud-panel-toggler">
        <router-link :to="`{name: 'admin-update-game', params: {gameName: ${gameName}}}`"
          @click.native.capture="checkNextStep">
          <b-container class="bv-example-row">
            <b-row>
              <b-col class="text-left">
                <span class="crud-step-number text-center mr-2">2</span>
                <span class="crud-step-title">CHINESE</span>
              </b-col>
              <b-col class="text-right">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </b-col>
            </b-row>
          </b-container>
        </router-link>
      </div>
    </div>

    <div class="py-3">
      <b-form @submit.prevent="onSubmit">
        <b-container fluid>
          <div class="text-center mb-4">
            <app-message-alert></app-message-alert>
          </div>

          <b-container class="control-btn-group">
            <b-row>
              <b-col class="m-0 p-0 btn-back-container">
                <router-link id="back-to-game-list"
                             class="mx-3"
                             :to="{name: 'admin-display-game'}">
                  <i class="fa fa-angle-left fa-lg mr-1" aria-hidden="true"></i>
                  <span>BACK TO LIST</span>
                  </router-link>
              </b-col>
              <b-col class="text-center">
                <b-button id="create-game-submit"
                  class="crud-btn crud-btn-action badge-pill mx-3"
                  type="submit">SAVE</b-button>

                <b-button id="create-game-reset"
                  class="crud-btn crud-btn-reset badge-pill mx-3"
                  type="reset"
                  @click="onReset">RESET</b-button>
              </b-col>
              <b-col></b-col>
            </b-row>
          </b-container>

        </b-container>
      </b-form>
    </div>

    <app-leave-modal ref="leavePage" @confirm="redirectPage"></app-leave-modal>

    <b-modal ref="addChineseLocale" lazy centered
        title="CREATE SUCCESS!"
        :hide-header-close="true"
        id="addChineseLocale" class="auth-modal">
      <form id="addChineseLocale-form" class="py-4">
        <p>Continue editing the Chinese profile?</p>
      </form>

      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3" @click.prevent="redirectPage(`/admin/game/update/${gameName}`)">OK</a></b-col>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3 cancel" @click.prevent="redirectPage(`/admin/game/display`)">CANCEL</a></b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>

  </div>
</template>

<script>
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import GameValidationMixin from '@/mixins/game_validation_mixin'
  import GameOperationMixin from '@/mixins/game_operation_mixin'

  import '@/assets/css/cms/cms.scss'

  export default {
    name: 'admin-create-game',
    mixins: [GameValidationMixin, GameOperationMixin],
    components: {
      'app-leave-modal': AppLeaveModal,
      'app-message-alert': AppMessageAlert
    },
    data: function () {
      return {
        // Game Parameters
        gameName: '',
        selected: [],
        gameLocales: ['en-us'],
        displayNames: [],
        gameLinks: [],
        mobileLinks: [],
        descriptions: [],
        imageLinks: [],
        gameCreated: false,
        originCategory: [],
        originDetails: [{
          Title: '',
          Link: '',
          MobileLink: '',
          Description: '',
          Thumbnail: ''
        }]
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    methods: {
      ...mapActions('category', [
        'actionCmsGetAllCategories'
      ]),
      ...mapActions('game', [
        'actionCmsAddGame',
        'actionCmsIsGameNameExist',
        'actionCmsUploadGameImage'
      ]),
      requestGameAdd: async function () {
        let gameDetails = this.buildGameParams()
        let payload = {
          token: this.userToken,
          game: gameDetails
        }

        try {
          const res = await this.actionCmsAddGame(payload)
          this.gameName = res.Game.Name
          this.gameCreated = true
          this.resetChanges()
          bus.$emit('ShowSuccess', 'Game Added Succefully!')
          this.$refs.addChineseLocale.show()
        } catch (err) {
          console.warn('err', err)
          bus.$emit('ShowError', err.body.Data.AdditionalMessage)
          throw err
        }
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        if (!this.isCreateValid()) return
        this.requestGameAdd()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.resetChanges()
        this.gameName = ''
        this.applyGameFields(this.originCategory, this.originDetails)
        this.valid['gameName'] = null
        this.clearAllValidations(0)
        this.$forceUpdate()
      },
      checkNextStep: function (evt) {
        this.isCreateValid()
        if (!this.gameCreated) {
          evt.preventDefault()
          bus.$emit('ShowError', 'Please Finish English Locale First')
          console.log('Game Is Not Created Yet')
        }
      }
    },
    created: function () {
      this.resetChanges()
      this.getCategories()
    }
  }
</script>
