<template>
  <div id="display-game">

    <b-container class="admin-table-head py-4">
      <b-row>
        <b-col md="auto" class="pl-5">
          <b-dropdown id="btn-game-select"
                      :text="getCategoryTitle(currentCategory)"
                      :disabled="isSortingActive">
            <b-dropdown-item class="game-select-item"
                             v-for="(category, index) in allCategories" :key="index"
                             @click="showCategoryGames(category.Name)"
                             :data-set="'switch_' + category.Name">
                             {{category.Title}}</b-dropdown-item>
          </b-dropdown>
        </b-col>

        <b-col md="auto"
               id="container-add-game"
               class="ml-auto"
               v-if="!isSortingActive">
          <router-link id="btn-add-game"
                       class="btn badge-pill py-2 px-4 btn-operation-game"
                       :to="{name: 'admin-create-game'}">
            <span class="icon-ic_add"></span>ADD GAME
          </router-link>
        </b-col>

        <b-col md="auto" v-if="!isSortingActive">
          <button id="btn-sort-game"
                  class="btn badge-pill py-2 px-4 btn-operation-game mr-4"
                  :disabled="!isSortable"
                  @click="toggleSorting">
                  <span class="icon-ic_edit"></span>EDIT SEQUENCE
          </button>
        </b-col>

        <b-col md="auto" v-if="isSortingActive">
          <span id="btn-save-sequence"
                class="btn badge-pill py-2 px-4 btn-operation-game"
                @click="sortAllGamesByCategory">
                SAVE</span>
        </b-col>

        <b-col md="auto" v-if="isSortingActive">
          <span id="btn-cancel-sequence"
                class="btn badge-pill py-2 px-4 btn-operation-game btn-cancel"
                @click="resetSort">
                CANCEL</span>
        </b-col>
      </b-row>
    </b-container>

    <!-- For Game Lists -->
    <b-container class="cms-table">
      <!-- For Game Lists Header -->
      <b-row class="cms-table-header">
        <b-col sm="auto" class="p-0 m-0"></b-col>
        <b-col class="py-3 px-5">GAME NAME</b-col>
        <b-col sm="4" class="py-3 px-5">CATEGORY</b-col>
        <b-col sm="2" class="py-3 px-5">LANGUAGE</b-col>
        <b-col sm="1" class="py-3 px-3" v-if="!isSortingActive">ACTIONS</b-col>
        <b-col sm="1" class="py-3 px-3" v-if="!isSortingActive"></b-col>
        <b-col sm="1" class="py-3 px-5" v-if="isSortingActive"></b-col>
      </b-row>

      <!-- For Game Lists Body -->
      <draggable v-model="filteredGames"
                 :class="{'cms-table-body': true, isSortingActive: isSortingActive}"
                 :options="{disabled: !isSortingActive}"
                 @start="drag=true"
                 @end="drag=false">
        <transition-group>
          <b-row :class="{ 'cms-table-row': true, 'cms-state-draft': game.Category.length === 0 }"
                 v-for="game in filteredGames" :key="game.Name"
                 :display="game.Name">
            <b-col sm="auto" class="cms-state-bar p-0 m-0"></b-col>
            <b-col class="py-3 px-5 list-title">{{game.Title}}</b-col>
            <b-col sm="4" class="py-3 px-5">{{getCategoryTitles(game.Category)}}</b-col>
            <b-col sm="2" class="py-3 px-5">{{getLocaleTitles(game.Locale)}}</b-col>
            <b-col sm="1" class="px-3 btn-action-container" v-if="!isSortingActive">
              <router-link class="cms-edit-link"
                           :id="'edit_' + game.Name"
                           :to="{name: 'admin-update-game', params: {gameName: game.Name}}"
                           :data-set="'edit_' + game.Name">
                           <span class="icon-ic_edit btn-edit-game btn-action-game"></span>
              </router-link>
            </b-col>

            <b-col sm="1" class="px-3 btn-action-container" v-if="!isSortingActive">
              <span v-b-modal.modalDelete
                    :data-set="'delete_' + game.Name"
                    @click="assignTargetGame(game.Name)">
                    <span class="icon-ic_delete btn-delete-game btn-action-game"></span>
              </span>
            </b-col>

            <b-col sm="1" class="px-5 btn-action-container" v-if="isSortingActive">
              <span class="icon-ic_move btn-sort-game btn-action-game"></span>
            </b-col>
          </b-row>
        </transition-group>
      </draggable>
    </b-container>

    <b-modal lazy centered
             ref="modalDelete"
             title="DELETE"
             :hide-header-close="true"
             id="modalDelete"
             class="auth-modal">
      <form id="logout-form">
        <p>Are you sure you want to delete?</p>
      </form>

      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0">
              <a class="modal-action-btn py-3" @click.prevent="removeGame()">OK</a>
            </b-col>
            <b-col cols="6" class="px-0">
              <a class="modal-action-btn py-3 cancel" @click.prevent="deleteCancel">CANCEL</a>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'
  import '@/assets/css/cms/admin.scss'

  const CATEGORY_ALL = {
    Name: 'all',
    Title: 'ALL'
  }
  const CATEGORY_DRAFT = {
    Name: 'draft',
    Title: 'DRAFT'
  }
  const DEFAULT_CATEGORY = 'all'

  export default {
    name: 'admin-display-game',
    components: {
      'draggable': draggable
    },
    data: function () {
      return {
        currentCategory: 'all',
        currentCategoryDisplayName: 'ALL',
        allCategories: [],
        allGames: [],
        filteredGames: [],
        targetGameName: undefined,
        isSortingActive: false
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      isSortable: function () {
        return (this.filteredGames.length > 1) && (this.currentCategory !== 'all') && (this.currentCategory !== 'draft')
      }
    },
    methods: {
      ...mapActions('category', [
        'actionCmsGetAllCategories',
        'actionCmsSortCategoryGames'
      ]),
      ...mapActions('game', [
        'actionCmsGetAllGames',
        'actionCmsGetCategoryGames',
        'actionCmsRemoveGame'
      ]),
      getMappingCategories: async function () {
        try {
          const res = await this.getAllCategories()
          res.unshift(CATEGORY_ALL)
          res.push(CATEGORY_DRAFT)
          this.allCategories = res
        } catch (err) {
          console.error('[Error-Category]', err.body)
        }
      },
      getAllCategories: async function () {
        try {
          const res = await this.actionCmsGetAllCategories()
          return res
        } catch (err) {
          console.error('[Error-Category]', err.body)
          throw err.body
        }
      },
      getAllGames: async function () {
        let payload = {
          token: this.userToken
        }
        try {
          const res = await this.actionCmsGetAllGames(payload)
          this.allGames = res
          return res
        } catch (err) {
          console.warn('[Error-Game]', err.body)
          throw err.body
        }
      },
      showCategoryGames: async function (category) {
        bus.$emit('Dismiss')
        this.currentCategory = category
        this.currentCategoryDisplayName = this.getCategoryTitle(this.currentCategory)
        const allGames = await this.getAllGames()

        if (category === 'all') {
          this.filteredGames = allGames
        } else if (category === 'draft') {
          const gamesInCategory = allGames.filter(
            game => game.Category.length === 0
          )
          this.filteredGames = gamesInCategory
        } else {
          const res = await this.getCategoryGames(category)
          this.filteredGames = res
        }
      },
      getCategoryGames: async function (category) {
        let payload = {
          token: this.userToken,
          category: category
        }
        if (payload.category !== undefined) {
          try {
            const res = await this.actionCmsGetCategoryGames(payload)
            return res
          } catch (err) {
            console.warn('[Error-Game]', err.body)
            throw err.body
          }
        }
      },
      getCategoryTitles: function (categories) {
        return categories.map(this.getCategoryTitle).join(' / ') || 'DRAFT'
      },
      getCategoryTitle: function (category) {
        for (let i in this.allCategories) {
          if (this.allCategories[i].Name === category) {
            return this.allCategories[i].Title
          }
        }
      },
      removeGame: async function () {
        let payload = {
          token: this.userToken,
          gameName: this.targetGameName
        }
        if (payload.gameName !== undefined) {
          try {
            await this.actionCmsRemoveGame(payload)
            await this.showCategoryGames(this.currentCategory)
            this.$refs.modalDelete.hide()
            bus.$emit('ShowSuccess', `Game "${payload.gameName}" Removed!`)
          } catch (err) {
            console.warn('err', err)
            bus.$emit('ShowError', err.body.Data.Description)
            throw err
          }
        }
      },
      assignTargetGame: function (targetDelete) {
        this.targetGameName = targetDelete
      },
      deleteCancel: function () {
        this.$refs.modalDelete.hide()
      },
      toggleSorting: function (event) {
        bus.$emit('Dismiss')
        this.isSortingActive = !this.isSortingActive
        if (this.isSortingActive) console.log('Ready to Sort')
      },
      resetSort: function () {
        console.log('Reset Sort')
        this.showCategoryGames(this.currentCategory)
        this.toggleSorting()
      },
      getAllSortedGamesByCategory: function () {
        let allSortedGamesByCategory = {
          ordering: []
        }
        this.filteredGames.forEach(function (game, index) {
          allSortedGamesByCategory.ordering.push({
            name: game.Name,
            order: index + 1
          })
        })
        return allSortedGamesByCategory
      },
      sortAllGamesByCategory: async function () {
        let allSortedGames = await this.getAllSortedGamesByCategory()
        let payload = {
          token: this.userToken,
          category: this.currentCategory,
          allSortedGames: allSortedGames
        }

        if (payload.allSortedGames.ordering.length > 0) {
          try {
            await this.actionCmsSortCategoryGames(payload)
            await this.showCategoryGames(payload.category)
            await this.toggleSorting()
            bus.$emit('ShowSuccess', `[${payload.category}] Games Sorted!`)
          } catch (err) {
            console.warn('err', err)
            bus.$emit('ShowError', err.body.Data.Description)
            throw err
          }
        }
      }
    },
    beforeRouteLeave: function (to, from, next) {
      bus.$emit('Dismiss')
      next()
    },
    mounted: function () {
      this.getMappingCategories()
      this.showCategoryGames(DEFAULT_CATEGORY)
    }
  }
</script>
