<template>
  <div id="create-game">
    <h2 class="admin-title">UPDATE GAME</h2>
    <div class="crud-game-container p-3">
      <div v-b-toggle.update-game-panel-en
        id="update-game-panel-toggler-en" class="my-3 crud-panel-toggler">
        <b-container>
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">1</span>
              <span class="crud-step-title">ENGLISH</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <b-collapse visible id="update-game-panel-en" class="game-data-panel px-5 py-3">
        <b-form @submit.prevent="onSubmit">
          <b-container fluid>

            <b-form-group
              v-if="isDataEmpty(imageData[0])"
              id="update-game-img-group-en"
              class="mb-5"
              :state="valid['detail'][0]['imageFile']"
              :feedback="hintImageFile(0)">

              <!-- Just for Hover Effect -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span class="px-5">Recommended image size: aspect ratio of 1:1 (width 360 x height 360 pixels) with maximum size of 500 KB.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="update-game-img-en"
                ref="imageFiles[0]"
                v-model="imageFiles[0]"
                :state="valid['detail'][0]['imageFile']"
                @change="previewImage($event, 0)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[0])">
              <span class="img-preview-container">
                <img id="preview-game-img" class="preview" :src="imageData[0]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(0)"></span>
              </span>
            </div>

            <b-form-group id="update-game-id-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  description=""
                  label="GAME ID*">
              <b-form-input id="update-game-id-en"
                  type="text"
                  :value="gameName"
                  :disabled="true"></b-form-input>
            </b-form-group>

            <b-form-group id="update-game-name-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['displayName']"
                  :feedback="hintDisplayName(0)"
                  description=""
                  label="DISPLAY NAME*">
              <b-form-input id="update-game-name-en"
                  type="text"
                  v-model.trim="displayNames[0]"
                  :state="valid['detail'][0]['displayName']"
                  @change="verify('detail', 0, 'displayName')"
                  @keyup.native="verify('detail', 0, 'displayName')"
                  placeholder="Display name for the game, e.g. Spring Break"></b-form-input>
            </b-form-group>

            <b-form-group id="update-game-link-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['gameLink']"
                  :feedback="hintGameLink(0)"
                  description=""
                  label="GAME LINK*">
              <b-form-input id="update-game-link-en"
                  type="url"
                  v-model.trim="gameLinks[0]"
                  :state="valid['detail'][0]['gameLink']"
                  @change="verify('detail', 0, 'gameLink')"
                  @keyup.native="verify('detail', 0, 'gameLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-mobile-link-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['mobileLink']"
                  :invalid-feedback="hintMobileLink(0)"
                  description=""
                  label="MOBILE LINK">
              <b-form-input id="create-mobile-link-en"
                  type="url"
                  v-model.trim="mobileLinks[0]"
                  :state="valid['detail'][0]['mobileLink']"
                  @change="verify('detail', 0, 'mobileink')"
                  @keyup.native="verify('detail', 0, 'mobileLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="update-game-description-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['description']"
                  :feedback="hintDescription(0)"
                  description=""
                  label="DESCRIPTION">
              <b-form-textarea id="update-game-description-en"
                  v-model.trim="descriptions[0]"
                  :state="valid['detail'][0]['description']"
                  @change="verify('detail', 0, 'description')"
                  @keyup.native="verify('detail', 0, 'description')"
                  placeholder=""
                  :rows="3"></b-form-textarea>
            </b-form-group>

            <b-form-group id="update-game-categories-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  description=""
                  label="CATEGORY">
              <b-form-checkbox-group id="update-game-categories-en"
                class="crud-game-categories"
                name="game-categories"
                @change="verify('category')"
                v-model="selected"
                :options="options"></b-form-checkbox-group>
            </b-form-group>

          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <!-- LANGUAGE 2 -->
    <div class="crud-game-container p-3">
      <div v-b-toggle.update-game-panel-cn
        id="update-game-panel-toggler-cn" class="my-3 crud-panel-toggler">
        <b-container>
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">2</span>
              <span class="crud-step-title">CHINESE</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <b-collapse visible id="update-game-panel-cn" class="game-data-panel px-5 py-3">

        <b-form @submit.prevent="onSubmit">
          <b-container fluid>

            <b-form-group
              v-if="isDataEmpty(imageData[1])"
              id="update-game-img-group-cn"
              class="mb-5"
              :state="valid['detail'][1]['imageFile']"
              :feedback="hintImageFile(1)">

              <!-- Just for Hover Effect -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span class="px-5">Recommended image size: aspect ratio of 1:1 (width 360 x height 360 pixels) with maximum size of 500 KB.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="update-game-img-cn"
                ref="imageFiles[1]"
                v-model="imageFiles[1]"
                :state="valid['detail'][1]['imageFile']"
                @change="previewImage($event, 1)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[1])">
              <span class="img-preview-container">
                <img id="preview-game-img" class="preview" :src="imageData[1]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(1)"></span>
              </span>
            </div>

            <b-form-group id="update-game-name-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['displayName']"
                  :feedback="hintDisplayName(1)"
                  description=""
                  label="DISPLAY NAME*">
              <b-form-input id="update-game-name-cn"
                  type="text"
                  v-model.trim="displayNames[1]"
                  :state="valid['detail'][1]['displayName']"
                  @change="verify('detail', 1, 'displayName')"
                  @keyup.native="verify('detail', 1, 'displayName')"
                  placeholder="Display name for the game, e.g. Spring Break"></b-form-input>
            </b-form-group>

            <b-form-group id="update-game-link-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['gameLink']"
                  :feedback="hintGameLink(1)"
                  description=""
                  label="GAME LINK*">
              <b-form-input id="update-game-link-cn"
                  type="url"
                  v-model.trim="gameLinks[1]"
                  :state="valid['detail'][1]['gameLink']"
                  @change="verify('detail', 1, 'gameLink')"
                  @keyup.native="verify('detail', 1, 'gameLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-mobile-link-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['mobileLink']"
                  :invalid-feedback="hintMobileLink(1)"
                  description=""
                  label="MOBILE LINK">
              <b-form-input id="create-mobile-link-cn"
                  type="url"
                  v-model.trim="mobileLinks[1]"
                  :state="valid['detail'][1]['mobileLink']"
                  @change="verify('detail', 1, 'mobileink')"
                  @keyup.native="verify('detail', 1, 'mobileLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="update-game-description-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['description']"
                  :feedback="hintDescription(1)"
                  description=""
                  label="DESCRIPTION">
              <b-form-textarea id="update-game-description-cn"
                  v-model.trim="descriptions[1]"
                  :state="valid['detail'][1]['description']"
                  @change="verify('detail', 1, 'description')"
                  @keyup.native="verify('detail', 1, 'description')"
                  placeholder=""
                  :rows="3"></b-form-textarea>
            </b-form-group>
          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <div class="py-3">
      <b-form @submit.prevent="onSubmit">
        <b-container fluid>
          <div class="text-center mb-3">
            <app-message-alert></app-message-alert>
          </div>

          <b-container class="control-btn-group">
            <b-row>
              <b-col class="m-0 p-0 btn-back-container">
                <router-link id="back-to-game-list"
                             class="mx-3"
                             :to="{name: 'admin-display-game'}">
                  <i class="fa fa-angle-left fa-lg mr-1" aria-hidden="true"></i>
                  <span>BACK TO LIST</span>
                  </router-link>
              </b-col>
              <b-col class="text-center">
                <b-button id="update-game-submit"
                  class="crud-btn crud-btn-action badge-pill mx-3"
                  type="submit">SAVE</b-button>

                <b-button id="update-game-reset"
                  class="crud-btn crud-btn-reset badge-pill mx-3"
                  type="reset"
                  @click="onReset">RESET</b-button>
              </b-col>
              <b-col></b-col>
            </b-row>
          </b-container>

        </b-container>
      </b-form>
    </div>

    <app-leave-modal ref="leavePage" @confirm="redirectPage"></app-leave-modal>
    
  </div>
</template>

<script>
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import GameValidationMixin from '@/mixins/game_validation_mixin'
  import GameOperationMixin from '@/mixins/game_operation_mixin'

  import '@/assets/css/cms/cms.scss'

  export default {
    name: 'admin-update-game',
    mixins: [GameValidationMixin, GameOperationMixin],
    components: {
      'app-leave-modal': AppLeaveModal,
      'app-message-alert': AppMessageAlert
    },
    data: function () {
      return {
        // Game Parameters
        gameName: '',
        selected: [],
        gameLocales: ['en-us', 'zh-cn'],
        displayNames: [],
        gameLinks: [],
        mobileLinks: [],
        descriptions: [],
        imageLinks: [],
        originCategory: [],
        originDetails: []
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'initUpdateGame'
      }
    },
    methods: {
      ...mapActions('category', [
        'actionCmsGetAllCategories'
      ]),
      ...mapActions('game', [
        'actionCmsGetGameDetails',
        'actionCmsEditGameDetails',
        'actionCmsUploadGameImage'
      ]),
      requestGameUpdate: async function () {
        let gameDetails = this.buildGameParams()
        let payload = {
          token: this.userToken,
          gameName: this.$route.params.gameName,
          gameDetails: gameDetails
        }

        try {
          await this.actionCmsEditGameDetails(payload)
          await this.getGameDetails()
          this.resetChanges()
          bus.$emit('ShowSuccess', 'Game Updated Succefully!')
        } catch (err) {
          console.warn('err', err)
          bus.$emit('ShowError', err.body.Data.Description)
          throw err
        }
      },
      getGameDetails: async function () {
        this.gameName = this.$route.params.gameName
        let payload = {
          token: this.userToken,
          gameName: this.gameName
        }
        if (payload.gameName !== undefined) {
          try {
            const res = await this.actionCmsGetGameDetails(payload)
            this.originCategory = res.Category
            this.originDetails = res.Details
            this.applyGameFields(res.Category, res.Details)
          } catch (err) {
            bus.$emit('ShowError', err.body.Data.Description)
            this.$router.replace('/404')
            throw err
          }
        }
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        if (!this.isEditValid()) return
        this.requestGameUpdate()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.resetChanges()
        this.applyGameFields(this.originCategory, this.originDetails)
        this.isEditValid()
        this.$forceUpdate()
      },
      initUpdateGame: function () {
        this.resetChanges()
        this.getCategories()
        this.getGameDetails()
        this.valid.detail = [{}, {}]
      }
    }
  }
</script>
