@import '../_setting.scss';

// Action Buttons
button.action-btn {
  font-size:$font-size-M;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  background: $btn;
  color: $black;
  border: none;
  min-width: 100px;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
  @media screen and (max-width: $wild) {
    background: none;
    color: $gold;
    font-family: $brand_font;
    font-size: $font-size-L;
    display: block;
    width: 100%;
    border-radius: 0;
  }
}

// For auth modal
.auth-modal {
  text-align: center;
  .modal-content {
    background: $black;
    color: $white;
    border: 1px solid $dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .modal-header {
    display: block;
    padding: $gap-size-M 0 $gap-size-S;
    border: none;
    .modal-title {
      font-size: $font-size-XL;
      font-family: $brand_font;
    }
  }
  .modal-body {
    padding: 0 $gap-size-M;
    input {
      font-size: $font-size-S;
      &.is-danger {
        border: 2px solid $danger;
      }
    }
    span.is-danger {
      color: $danger;
      font-size: $font-size-M;
      font-weight: bold;
    }
  }
  .modal-footer {
    border: none;
    padding: 15px 0 0;
    .modal-action-btn {
      display: block;
      color: $black;
      background: $btn;
      font-weight: bold;
      font-size: $font-size-M;
      cursor: pointer;
      border-radius: 0 0 0 0.3rem;
      &.cancel {
        background: $cancel;
        border-radius: 0 0 0.3rem 0;
      }
    }
  }
  @media screen and (min-width: $desktop){
    .modal-dialog {
      max-width: 400px;
    }
  }
}