@import '../_setting.scss';

#after-login-nav {
  @media screen and (min-width: $wild) {
    margin-right: -1em;
  }
  .nav {
    @media screen and (max-width: $wild - 1px ) {
      display: block;
    }
  }
  .nav-index {
    color: $gold;
    font-weight: bold;
    a {
      color: $gold;
      display: block;
    }
  }
  .modal-body {
    padding: $gap-size-L $gap-size-M;
  }
}
