<template>
  <div id="hero">
    <div class="container p-0">
      <b-carousel id="hero-banner"
        indicators
        :interval="SLIDER_INTERVAL">

        <b-carousel-slide v-for="banner in banners"
                          :key="'banner-' + banner.Id">
          <img slot="img"
               class="d-block img-fluid w-100 banner-img"
               src="static/imgs/banner-bg.png"
               :style="'background-image: url(./' + banner.Main_image + ')'"
               :alt="banner.Title">
          <span v-if="banner.Link === ''"></span>
          <router-link v-else-if="isInternal(banner.Link)"
                       class="hero-play-link"
                       :to="parseUrl(banner.Link)"></router-link>
          <a v-else class="hero-play-link"
             :href="banner.Link"
             target="_BLANK"></a>
        </b-carousel-slide>
      </b-carousel>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import '@/assets/css/lobby/hero.scss'

  export default {
    name: 'the-banner',
    data: function () {
      return {
        lazy: true
      }
    },
    computed: {
      ...mapGetters('locale', {
        locale: 'getLocale'
      }),
      ...mapGetters('banner', {
        banners: 'getAllBanners'
      }),
      SLIDER_INTERVAL: function () {
        return 4000
      }
    },
    methods: {
      ...mapActions('banner', [
        'actionGetBanners'
      ]),
      getAllBanners: function () {
        let payload = {
          locale: this.locale
        }
        this.fetchAllBanners(payload)
      },
      fetchAllBanners: async function (payload) {
        try {
          await this.actionGetBanners(payload)
        } catch (err) {
          console.warn('[Error-Banner]', err.body)
          throw err.body
        }
      },
      isInternal: function (url) {
        try {
          return location.origin === (new URL(url)).origin
        } catch (error) {
          return false
        }
      },
      parseUrl: function (url) {
        if (this.isInternal(url)) {
          return (new URL(url)).hash.slice(1)
        } else {
          return url
        }
      }
    },
    created: function () {
      this.getAllBanners()
    }
  }
</script>
