<template>
  <footer id="footer">
    <div class="footer-container container">
      <p class="copy-right">{{ $tm('#Site.Footer.Copyright#') }}</p>
      <div class="footer-links d-none d-sm-none d-md-block">
        <ul class="p-0 mb-0">
          <li>
            <router-link id="footer-home"
                         class="px-3"
                         :to="{name: 'lobby-home'}">
                         {{$tm('#Site.Navigation.Home#')}}</router-link>
          </li>

          <li>
            <router-link id="footer-game"
                         class="px-3"
                         :to="{name: 'lobby-game'}">
                         {{$tm('#Site.Navigation.Games#')}}</router-link>
          </li>

          <li>
            <router-link id="footer-live-dealer"
                         class="px-3"
                         :to="{name: 'lobby-live-dealer'}">
                         {{$tm('#Site.Navigation.LiveDealer#')}}</router-link>
          </li>

          <li>
            <router-link id="footer-register"
                         class="px-3"
                         :to="{name: 'lobby-register'}">
                         {{$tm('#Site.Navigation.Register#')}}</router-link>
          </li>
          
          <li>
            <router-link id="footer-download"
                         class="px-3"
                         :to="{name: 'lobby-download'}">
                         {{$tm('#Site.Footer.Download#')}}</router-link>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
  import '@/assets/css/shared/footer.scss'

  export default {
    name: 'the-footer'
  }
</script>
