<template>
  <header id="header" class="py-1">
    <b-navbar type="dark" tag="h1" class="header-container container mb-0 px-0">
      <b-navbar-brand :to="{name: 'lobby'}"
        id="site-link" class="my-3">MG88 Showcase</b-navbar-brand>
      <game-play-history
        v-if="isGameHistoryAvailable"
        :game-name="gameName"
        :game-title="gameTitle"></game-play-history>
    </b-navbar>
  </header>
</template>

<script>
  import GamePlayHistory from '@/components/gameplay/GamePlayHistory.vue'
  import { mapGetters, mapActions } from 'vuex'
  import '@/assets/css/shared/header.scss'

  const ROUTE_GAME_PLAY = 'gameplay'
  const CATEGORY_LIVE_DEALER = 'livedealer'

  export default {
    name: 'the-header',
    components: {
      'game-play-history': GamePlayHistory
    },
    props: {
      gameName: {
        require: true,
        type: String
      },
      gameTitle: {
        require: true,
        type: String
      }
    },
    data: function () {
      return {
        isGameHistoryAvailable: false
      }
    },
    computed: {
      ...mapGetters('auth', [
        'isPlayer'
      ]),
      ...mapGetters('locale', {
        locale: 'getLocale'
      }),
      isGamePlay: function () {
        return this.$route.name === ROUTE_GAME_PLAY
      },
      isLiveDealerGame: async function () {
        if (!this.$route.params.gameName) return false

        const games = await this.actionGetCategoryGames({
          locale: this.locale,
          category: CATEGORY_LIVE_DEALER,
          isMobile: this.isMobile
        })
        return games.some(game => {
          return game.Name === this.$route.params.gameName
        })
      }
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'fetchData'
      }
    },
    methods: {
      ...mapActions('game', [
        'actionGetCategoryGames'
      ]),
      fetchData: async function () {
        this.isGameHistoryAvailable = this.isPlayer && this.isGamePlay && !this.isMobile && !await this.isLiveDealerGame
      }
    }
  }
</script>
