<template>
  <div id="locale">
    <b-dropdown class="locale-dropdown btn p-0">
      <template slot="button-content">
        <span class="locale-lang">{{getLocaleName}}</span>
        <b-img :src="'static/imgs/icon-' + getLocale + '.png'" alt="'flag-' + getLocale" />
      </template>

      <b-dropdown-item class="m-0" @click="changeLocale('en-US')" :data-set="'locale_en-US'">
        <span class="locale-lang">English</span>
        <b-img src="static/imgs/icon-en-US.png" alt="flag-us" />
      </b-dropdown-item>

      <b-dropdown-item class="m-0" @click="changeLocale('zh-CN')" :data-set="'locale_zh-CN'">
        <span class="locale-lang">中文</span>
        <b-img src="static/imgs/icon-zh-CN.png" alt="flag-cn" />
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import '@/assets/css/locale/locale.scss'

  export default {
    name: 'the-locale',
    computed: {
      ...mapGetters('locale', [
        'getLocale',
        'getLocaleName'
      ])
    },
    methods: {
      ...mapActions('banner', [
        'actionClearBanners'
      ]),
      ...mapActions('category', [
        'actionClearCategories'
      ]),
      ...mapActions('game', [
        'actionClearGames'
      ]),
      ...mapActions('locale', [
        'actionSetLocale'
      ]),
      changeLocale: function (targetLocale) {
        if (this.getLocale !== targetLocale) {
          this.actionSetLocale({ locale: targetLocale })
          this.actionClearCategories()
          this.actionClearGames()
          this.actionClearBanners()
          location.reload()
        }
      }
    }
  }
</script>

<style scoped>

</style>
