<template>
  <div id="navigation">
    <b-navbar toggleable="lg" class="container p-0">
      <b-navbar-toggle target="nav" ref="mainNavToggle" id="main-nav-toggler">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
      </b-navbar-toggle>

      <b-collapse is-nav id="nav">
        <b-nav id="main-nav" justified>
          <b-nav-item id="nav-game"
                      class="p-0"
                      :to="{name: 'lobby-game'}">
                      {{$tm('#Site.Navigation.Games#')}}</b-nav-item>

          <b-nav-item id="nav-live-dealer"
                      class="p-0"
                      :to="{name: 'lobby-live-dealer'}">
                      {{$tm('#Site.Navigation.LiveDealer#')}}</b-nav-item>

          <b-nav-item id="nav-register"
                      class="p-0"
                      :to="{name: 'lobby-register'}">
                      {{$tm('#Site.Navigation.Register#')}}</b-nav-item>

          <b-nav-item id="nav-download"
                      class="p-0"
                      :to="{name: 'lobby-download'}">
                      {{$tm('#Site.Navigation.Download#')}}</b-nav-item>
        </b-nav>

        <b-navbar-nav id="auth-nav" class="ml-auto">
          <li class="nav-item" v-if="!isLoggedIn">
            <auth-login class="nav-link" @showLoginPrompt="onShowLoginPrompt" @loginSuccess="onLoginSuccess"></auth-login>
          </li>
          <li class="nav-item" v-if="isLoggedIn">
            <auth-logout class="nav-link" @logoutSuccess="onLogoutSuccess"></auth-logout>
          </li>
          <li class="nav-item">
            <the-locale></the-locale>
          </li>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import AuthLogin from '@/components/auth/AuthLogin.vue'
  import AuthLogout from '@/components/auth/AuthLogout.vue'
  import TheLocale from '@/components/common/TheLocale.vue'

  import '@/assets/css/shared/nav.scss'

  export default {
    name: 'the-navigation',
    components: {
      'auth-login': AuthLogin,
      'auth-logout': AuthLogout,
      'the-locale': TheLocale
    },
    data: function () {
      global.vm = this
      return {
      }
    },
    computed: {
      ...mapGetters('auth', [
        'isLoggedIn'
      ]),
      breakPointWidth () {
        return 991
      }
    },
    methods: {
      onShowLoginPrompt: function () {
        if (window.outerWidth <= this.breakPointWidth && this.$refs.mainNavToggle.toggleState === false) {
          this.$refs.mainNavToggle.$el.click()
        }
      },
      onLoginSuccess: function () {
        if (window.outerWidth <= this.breakPointWidth && this.$refs.mainNavToggle.toggleState === true) {
          this.$refs.mainNavToggle.$el.click()
        }
      },
      onLogoutSuccess: function () {
        if (window.outerWidth <= this.breakPointWidth && this.$refs.mainNavToggle.toggleState === true) {
          this.$refs.mainNavToggle.$el.click()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
