<template>
  <div id="ticker" class="p-0">
    <b-container>
      <b-row>
        <b-col class="ticker-container text-center pr-1 py-0" md="4" sm="6">
          <div id="ticker-mega-moolah"></div>
        </b-col>
        <b-col class="ticker-container text-center pr-1 py-0 ticker-box d-none d-sm-block" md="4" sm="6">
          <div id="ticker-major-millions"></div>
        </b-col>
        <b-col class="ticker-container text-center pr-1 py-0 d-none d-md-block" md="4">
          <div id="ticker-king-cashalot"></div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import '@/assets/css/lobby/ticker.scss'

  export default {
    name: 'the-ticker',
    data: function () {
      return {
        ticker: undefined
      }
    },
    mounted: function () {
      this.ticker = new ProgressiveClient({
        targets: [
          { id: 'ticker-mega-moolah', moduleId: 17501 },
          { id: 'ticker-major-millions', moduleId: 15005 },
          { id: 'ticker-king-cashalot', moduleId: 17500 }
        ],
        options: {
          imageFolderPath: './static/progressive/img/progressiveClient/',
          tickerType: 'animation'
        }
      })
      this.ticker.run()
    },
    beforeDestroy: function () {
      this.ticker.stop()
    }
  }
</script>

<style lang="scss" scoped>

</style>
