@import '../_setting.scss';

#register {
  #message-form {
    margin: 0 $gap-size-XS;
    @media screen and (min-width: $desktop) {
      margin: 0 4%;
    }
  }
  .message-field-group {
    &:not(:last-of-type) {
      margin-bottom: 1.75rem;
    }
    // For Labels
    .col-form-label {
      font-size: $font-size-L;
      font-family: $brand_font;
      color: $gold;
      letter-spacing: 0.1px;
    }
    // For Fields
    .message-field {
      border: 1px solid $silver;
      background: rgba(255, 255, 255, 0.1);
      font-size: $font-size-M;
      color: $white;
      &::placeholder {
        color: $sand;
      }
      &.is-invalid {
        border-color: $danger;
      }
    }
  }
  
  .message-submit-container {
    position: relative;
    min-height: 36px;
  }
  #message-submit {
    position: absolute;
    right: 0;
    color: $black;
    font-size: $font-size-M;
    font-weight: bold;
    background: $btn;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    min-width: 150px;
    cursor: pointer;
    &.disabled {
      background: $cancel;
      cursor: not-allowed;
    }
  }

  // For Response
  #message-response {
    max-width: 600px;
    min-height: 400px;
    .title {
      font-size: 1.5rem;
      font-family: $brand_font;
      color: $gold;
      &.fail {
        color: $danger;
      }
    }
    .desc {
      font-size: 1.125rem;
      color: $smoke;
    }
  }
}