<template>
  <div id="app">
    <router-view />
    <app-expired-modal></app-expired-modal>
    <app-loading></app-loading>
  </div>
</template>

<script>
  import AppExpiredModal from '@/components/shared/AppExpiredModal.vue'
  import AppLoading from '@/components/shared/AppLoading.vue'

  export default {
    name: 'app',
    components: {
      'app-expired-modal': AppExpiredModal,
      'app-loading': AppLoading
    }
  }
</script>
