<template>
  <div id="update-banner">
    <h2 class="admin-title">UPDATE BANNER</h2>
    <div class="crud-game-container p-3">
      <div v-b-toggle.update-banner-panel-en
        id="update-banner-panel-toggler-en" class="my-3 crud-panel-toggler">
        <b-container>
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">1</span>
              <span class="crud-step-title">ENGLISH</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <b-collapse visible id="update-banner-panel-en" class="game-data-panel px-5 py-3">
        <b-form @submit.prevent="onSubmit">
          <b-container fluid>
            <b-form-group
              v-if="isDataEmpty(imageData[0])"
              id="update-banner-img-group-en"
              class="mb-5"
              :state="valid['detail'][0]['imageFile']"
              :feedback="hintImageFile(0)">

              <!-- Just for Hover Effect -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span>1440 * 378 px, only jpg, jpeg and png file with maximun size of 2 MB is allowed.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="update-banner-img-en"
                class="upload-banner-img"
                ref="imageFiles[0]"
                v-model="imageFiles[0]"
                :state="valid['detail'][0]['imageFile']"
                @change="previewImage($event, 0)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[0])">
              <span class="img-preview-container">
                <img id="preview-banner-img" class="preview" :src="imageData[0]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(0)"></span>
              </span>
            </div>

            <b-form-group id="update-banner-title-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['bannerTitle']"
                  :feedback="hintBannerTitle(0)"
                  description=""
                  label="BANNER TITLE*">
              <b-form-input id="update-banner-title-en"
                  type="text"
                  v-model.trim="bannerTitles[0]"
                  :state="valid['detail'][0]['bannerTitle']"
                  @change="verify('detail', 0, 'bannerTitle')"
                  @keyup.native="verify('detail', 0, 'bannerTitle')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-banner-link-group-en"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['bannerLink']"
                  :invalid-feedback="hintBannerLink(0)"
                  description=""
                  label="BANNER LINK">
              <b-form-input id="create-banner-link-en"
                  type="url"
                  v-model.trim="bannerLinks[0]"
                  :state="valid['detail'][0]['bannerLink']"
                  @change="verify('detail', 0, 'bannerLink')"
                  @keyup.native="verify('detail', 0, 'bannerLink')"
                  placeholder=""></b-form-input>
            </b-form-group>
          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <!-- LANGUAGE 2 -->
    <div class="crud-game-container p-3">
      <div v-b-toggle.update-banner-panel-cn
        id="update-banner-panel-toggler-cn" class="my-3 crud-panel-toggler">
        <b-container>
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">2</span>
              <span class="crud-step-title">CHINESE</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <b-collapse visible id="update-banner-panel-cn" class="game-data-panel px-5 py-3">

        <b-form @submit.prevent="onSubmit">
          <b-container fluid>

            <b-form-group
              v-if="isDataEmpty(imageData[1])"
              id="update-banner-img-group-cn"
              class="mb-5"
              :state="valid['detail'][1]['imageFile']"
              :feedback="hintImageFile(1)">

              <!-- Just for Hover Effect -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span>1440 * 378 px, only jpg, jpeg and png file with maximun size of 2 MB is allowed.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="update-banner-img-cn"
                class="upload-banner-img"
                ref="imageFiles[1]"
                v-model="imageFiles[1]"
                :state="valid['detail'][1]['imageFile']"
                @change="previewImage($event, 1)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[1])">
              <span class="img-preview-container">
                <img id="preview-banner-img" class="preview" :src="imageData[1]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(1)"></span>
              </span>
            </div>

            <b-form-group id="update-banner-title-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['bannerTitle']"
                  :feedback="hintBannerTitle(1)"
                  description=""
                  label="BANNER TITLE*">
              <b-form-input id="update-banner-title-cn"
                  type="text"
                  v-model.trim="bannerTitles[1]"
                  :state="valid['detail'][1]['bannerTitle']"
                  @change="verify('detail', 1, 'bannerTitle')"
                  @keyup.native="verify('detail', 1, 'bannerTitle')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="update-banner-link-group-cn"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][1]['bannerLink']"
                  :invalid-feedback="hintBannerLink(1)"
                  description=""
                  label="BANNER LINK">
              <b-form-input id="update-banner-link-cn"
                  type="url"
                  v-model.trim="bannerLinks[1]"
                  :state="valid['detail'][1]['bannerLink']"
                  @change="verify('detail', 1, 'bannerLink')"
                  @keyup.native="verify('detail', 1, 'bannerLink')"
                  placeholder=""></b-form-input>
            </b-form-group>
          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <div class="py-3">
      <b-form @submit.prevent="onSubmit">
        <b-container fluid>
          <div class="text-center mb-3">
            <app-message-alert></app-message-alert>
          </div>

          <b-container class="control-btn-group">
            <b-row>
              <b-col class="m-0 p-0 btn-back-container">
                <router-link id="back-to-banner-list"
                             class="mx-3"
                             :to="{name: 'admin-display-banner'}">
                  <i class="fa fa-angle-left fa-lg mr-1" aria-hidden="true"></i>
                  <span>BACK TO LIST</span>
                  </router-link>
              </b-col>
              <b-col class="text-center">
                <b-button id="update-banner-submit"
                  class="crud-btn crud-btn-action badge-pill mx-3"
                  type="submit">SAVE</b-button>

                <b-button id="update-banner-reset"
                  class="crud-btn crud-btn-reset badge-pill mx-3"
                  type="reset"
                  @click="onReset">RESET</b-button>
              </b-col>
              <b-col></b-col>
            </b-row>
          </b-container>

        </b-container>
      </b-form>
    </div>

    <app-leave-modal ref="leavePage" @confirm="redirectPage"></app-leave-modal>

  </div>
</template>

<script>
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import BannerValidationMixin from '@/mixins/banner_validation_mixin'
  import BannerOperationMixin from '@/mixins/banner_operation_mixin'

  import '@/assets/css/cms/cms.scss'

  export default {
    name: 'admin-update-banner',
    mixins: [BannerValidationMixin, BannerOperationMixin],
    components: {
      'app-leave-modal': AppLeaveModal,
      'app-message-alert': AppMessageAlert
    },
    data: function () {
      return {
        // Banner Parameters
        bannerLocales: ['en-us', 'zh-cn'],
        bannerTitles: [],
        bannerLinks: [],
        imageLinks: [],
        originDetails: []
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    watch: {
      '$route': {
        immediate: true,
        handler: 'initUpdateBanner'
      }
    },
    methods: {
      ...mapActions('banner', [
        'actionCmsGetBannerDetails',
        'actionCmsEditBannerDetails',
        'actionCmsUploadBannerImage'
      ]),
      requestBannerUpdate: async function () {
        let bannerDetails = await this.buildBannerParams()
        let payload = {
          token: this.userToken,
          bannerId: this.$route.params.bannerId,
          bannerDetails: bannerDetails
        }

        try {
          await this.actionCmsEditBannerDetails(payload)
          await this.getBannerDetails()
          this.resetChanges()
          bus.$emit('ShowSuccess', 'Banner Updated Succefully!')
        } catch (err) {
          console.warn('err', err)
          bus.$emit('ShowError', err.body.Data.AdditionalMessage)
          throw err
        }
      },
      getBannerDetails: async function () {
        let payload = {
          token: this.userToken,
          bannerId: this.$route.params.bannerId
        }

        if (payload.bannerId !== undefined) {
          try {
            const res = await this.actionCmsGetBannerDetails(payload)
            this.originDetails = res.Details
            this.applyBannerFields(this.originDetails)
          } catch (err) {
            bus.$emit('ShowError', err.body.Data.Description)
            this.$router.replace('/404')
            throw err
          }
        }
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        if (!this.isEditValid()) return
        this.requestBannerUpdate()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.resetChanges()
        this.applyBannerFields(this.originDetails)
        this.isEditValid()
        this.$forceUpdate()
      },
      initUpdateBanner: function () {
        this.resetChanges()
        this.getBannerDetails()
        this.valid.detail = [{}, {}]
      }
    }
  }
</script>
