<template>
  <div id="display-banner">

    <!-- For Operation Banners -->
    <b-container class="admin-table-head py-4">
      <b-row class="pl-4">
        <b-col md="auto"
               class="ml-auto"
               id="container-add-banner"
               v-if="!isSortingActive">
          <router-link id="btn-add-banner"
                       class="btn badge-pill py-2 px-4 btn-operation-game"
                       :to="{name: 'admin-create-banner'}">
            <span class="icon-ic_add"></span>
            ADD BANNER</router-link>
        </b-col>

        <b-col md="auto"
               class="mr-4"
               v-if="!isSortingActive">
          <button id="btn-sort-banner"
                  class="btn badge-pill py-2 px-4 btn-operation-game"
                  @click="toggleSorting">
            <span class="icon-ic_edit"></span>
            EDIT SEQUENCE</button>
        </b-col>

        <b-col md="auto"
               v-if="isSortingActive">
          <span id="btn-save-sequence"
                class="btn badge-pill py-2 px-4 btn-operation-game"
                @click="sortAllBanners">
            SAVE</span>
        </b-col>

        <b-col md="auto"
               v-if="isSortingActive">
          <span id="btn-cancel-sequence"
                class="btn badge-pill py-2 px-4 btn-operation-game btn-cancel"
                @click="resetSort">
            CANCEL</span>
        </b-col>
      </b-row>
    </b-container>

    <!-- For Banner Lists -->
    <b-container class="cms-table">
      <!-- For Banner Lists Header -->
      <b-row class="cms-table-header">
        <b-col class="py-3 pl-5 pr-2">BANNER TITLE</b-col>
        <b-col sm="6" class="py-3 px-2">IMAGE</b-col>
        <b-col sm="2" class="py-3 px-3">LANGUAGE</b-col>
        <b-col sm="1" class="py-3 px-3" v-if="!isSortingActive">ACTIONS</b-col>
        <b-col sm="1" class="py-3 px-3" v-if="!isSortingActive"></b-col>
        <b-col sm="1" class="py-3 px-5" v-if="isSortingActive"></b-col>
      </b-row>

      <!-- For Banner Lists Body -->
      <draggable v-model="allBanners"
                 :class="{'cms-table-body': true, isSortingActive: isSortingActive}"
                 :options="{disabled: !isSortingActive}"
                 @start="drag=true"
                 @end="drag=false">
        <transition-group>
          <b-row class="cms-table-row"
                 v-for="banner in allBanners"
                 :key="banner.Id"
                 :display="banner.Id">

            <b-col class="py-3 pl-5 pr-2 list-title">
              {{banner.Title}}</b-col>

            <b-col sm="6"
                   class="py-3 px-2">
              <b-img fluid
                     :src="banner.Main_image"
                     :alt="banner.Title" /></b-col>

            <b-col sm="2"
                   class="py-3 px-3">
              {{getLocaleTitles(banner.Locale)}}</b-col>

            <b-col sm="1"
                   class="px-3 btn-action-container"
                   v-if="!isSortingActive">
              <router-link class="cms-edit-link"
                           :id="'edit_' + banner.Id"
                           :to="{name: 'admin-update-banner', params: {bannerId: banner.Id}}"
                           :data-set="'edit_' + banner.Id">
                <span class="icon-ic_edit btn-edit-game btn-action-game"></span>
              </router-link>
            </b-col>

            <b-col sm="1"
                   class="px-3 btn-action-container"
                   v-if="!isSortingActive">
              <span v-b-modal.modalDelete
                    :data-set="'delete_' + banner.Id"
                    @click="assignTargetBanner(banner.Id)">
                <span class="icon-ic_delete btn-delete-game btn-action-game"></span>
              </span>
            </b-col>

            <b-col sm="1"
                   class="px-5 btn-action-container"
                   v-if="isSortingActive">
              <span class="icon-ic_move btn-sort-game btn-action-game"></span>
            </b-col>
          </b-row>
        </transition-group>
      </draggable>
      <!-- End For Banner Lists Body -->
    </b-container>

    <!-- Delete Banner Modal -->
    <b-modal lazy centered
             id="modalDelete"
             class="auth-modal"
             ref="modalDelete"
             title="DELETE"
             :hide-header-close="true">
      <form id="logout-form">
        <p>Are you sure you want to delete?</p>
      </form>

      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0">
              <a class="modal-action-btn py-3" @click.prevent="removeBanner()">OK</a>
            </b-col>
            <b-col cols="6" class="px-0">
              <a class="modal-action-btn py-3 cancel" @click.prevent="deleteCancel">CANCEL</a>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  export default {
    name: 'admin-display-banner',
    components: {
      'draggable': draggable
    },
    data: function () {
      return {
        allBanners: [],
        targetBannerId: undefined,
        isSortingActive: false
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    methods: {
      ...mapActions('banner', [
        'actionCmsGetAllBanners',
        'actionCmsRemoveBanner',
        'actionCmsSortAllBanners'
      ]),
      getAllBanners: async function () {
        let payload = {
          token: this.userToken
        }
        try {
          const res = await this.actionCmsGetAllBanners(payload)
          this.allBanners = res
        } catch (err) {
          console.warn('[Error-Banner]', err.body)
          throw err.body
        }
      },
      removeBanner: async function () {
        let payload = {
          token: this.userToken,
          bannerId: this.targetBannerId
        }
        if (payload.bannerId !== undefined) {
          try {
            await this.actionCmsRemoveBanner(payload)
            await this.getAllBanners()
            await this.$refs.modalDelete.hide()
            await bus.$emit('ShowSuccess', `Banner [${payload.bannerId}] Removed!`)
          } catch (err) {
            console.warn('err', err)
            bus.$emit('ShowError', err.body.Data.Description)
            throw err
          }
        }
      },
      sortAllBanners: async function () {
        let allSortedBanners = await this.getAllSortedBanners()
        let payload = {
          token: this.userToken,
          allSortedBanners: allSortedBanners
        }

        if (payload.allSortedBanners.ordering.length > 0) {
          try {
            await this.actionCmsSortAllBanners(payload)
            await this.getAllBanners()
            await this.toggleSorting()
            bus.$emit('ShowSuccess', 'All Banners Sorted!')
          } catch (err) {
            console.warn('err', err)
            bus.$emit('ShowError', err.body.Data.Description)
            throw err
          }
        }
      },
      assignTargetBanner: function (targetDelete) {
        this.targetBannerId = targetDelete
      },
      deleteCancel: function () {
        this.$refs.modalDelete.hide()
      },
      toggleSorting: function (event) {
        bus.$emit('Dismiss')
        this.isSortingActive = !this.isSortingActive
        if (this.isSortingActive) console.log('Ready to Sort')
      },
      resetSort: function () {
        console.log('Reset Sort')
        this.getAllBanners()
        this.toggleSorting()
      },
      getAllSortedBanners: function () {
        let allSortedBanners = {
          ordering: []
        }
        this.allBanners.forEach(function (banner, index) {
          allSortedBanners.ordering.push({
            id: banner.Id,
            order: index + 1
          })
        })
        return allSortedBanners
      }
    },
    beforeRouteLeave: function (to, from, next) {
      bus.$emit('Dismiss')
      next()
    },
    mounted: function () {
      this.getAllBanners()
    }
  }
</script>
