<template>
  <div id="create-banner">
    <h2 class="admin-title">ADD BANNER</h2>
    <div class="crud-game-container p-3">
      <div v-b-toggle.create-banner-panel
        id="create-banner-panel-toggler" class="my-3 crud-panel-toggler">
        <b-container>
          <b-row>
            <b-col class="text-left">
              <span class="crud-step-number text-center mr-2">1</span>
              <span class="crud-step-title">ENGLISH</span>
            </b-col>
            <b-col class="text-right">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <b-collapse visible id="create-banner-panel" class="game-data-panel px-5 py-3">
        <b-form @submit.prevent="onSubmit">
          <b-container fluid>

            <b-form-group
              v-if="isDataEmpty(imageData[0])"
              id="upload-banner-img-group"
              class="mb-5"
              :state="valid['detail'][0]['imageFile']"
              :invalid-feedback="hintImageFile(0)">

              <!-- Just for Hover Effect and Description -->
              <div class="hover">
                <span class="icon-ic_upload p-0"></span>
                <span class="desc pb-2">Drag &amp; Drop file here</span>
                <span class="desc small pb-2">&#8212; or &#8212;</span>
                <span class="blue pb-2">Select file to upload</span>
                <span>1440 * 378 px, only jpg, jpeg and png file with maximun size of 2 MB is allowed.</span>
              </div>

              <!-- Real Upload File Input -->
              <b-form-file
                id="upload-banner-img"
                class="upload-banner-img"
                ref="imageFiles[0]"
                v-model="imageFiles[0]"
                :state="valid['detail'][0]['imageFile']"
                @change="previewImage($event, 0)"
                accept="image/jpeg, image/png">
              </b-form-file>
            </b-form-group>

            <!-- For Display Preview Image -->
            <div class="image-preview crud-game-image mb-5" v-if="!isDataEmpty(imageData[0])">
              <span class="img-preview-container">
                <img id="preview-banner-img" class="preview" :src="imageData[0]">
                <span class="remove-img icon-ic_close" @click="removePreviewImg(0)"></span>
              </span>
            </div>

            <b-form-group id="create-banner-title-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['bannerTitle']"
                  :invalid-feedback="hintBannerTitle(0)"
                  description=""
                  label="BANNER TITLE*">
              <b-form-input id="create-banner-title"
                  type="text"
                  v-model.trim="bannerTitles[0]"
                  :state="valid['detail'][0]['bannerTitle']"
                  @change="verify('detail', 0, 'bannerTitle')"
                  @keyup.native="verify('detail', 0, 'bannerTitle')"
                  placeholder=""></b-form-input>
            </b-form-group>

            <b-form-group id="create-banner-link-group"
                  horizontal
                  :label-cols="3"
                  breakpoint="md"
                  :state="valid['detail'][0]['bannerLink']"
                  :invalid-feedback="hintBannerLink(0)"
                  description=""
                  label="BANNER LINK">
              <b-form-input id="create-banner-link"
                  type="url"
                  v-model.trim="bannerLinks[0]"
                  :state="valid['detail'][0]['bannerLink']"
                  @change="verify('detail', 0, 'bannerLink')"
                  @keyup.native="verify('detail', 0, 'bannerLink')"
                  placeholder=""></b-form-input>
            </b-form-group>

          </b-container>
        </b-form>
      </b-collapse>
    </div>

    <div class="crud-game-container p-3">
      <div id="create-banner-other-language" class="my-3 crud-panel-toggler">
        <router-link :to="`{name: 'admin-update-banner', params: {bannerId: ${bannerId}}}`"
          @click.native.capture="checkNextStep">
          <b-container class="bv-example-row">
            <b-row>
              <b-col class="text-left">
                <span class="crud-step-number text-center mr-2">2</span>
                <span class="crud-step-title">CHINESE</span>
              </b-col>
              <b-col class="text-right">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </b-col>
            </b-row>
          </b-container>
        </router-link>
      </div>
    </div>

    <div class="py-3">
      <b-form @submit.prevent="onSubmit">
        <b-container fluid>
          <div class="text-center mb-4">
            <app-message-alert></app-message-alert>
          </div>

          <b-container class="control-btn-group">
            <b-row>
              <b-col class="m-0 p-0 btn-back-container">
                <router-link id="back-to-banner-list"
                             class="mx-3"
                             :to="{name: 'admin-display-banner'}">
                  <i class="fa fa-angle-left fa-lg mr-1" aria-hidden="true"></i>
                  <span>BACK TO LIST</span>
                  </router-link>
              </b-col>
              <b-col class="text-center">
                <b-button id="create-banner-submit"
                  class="crud-btn crud-btn-action badge-pill mx-3"
                  type="submit">SAVE</b-button>

                <b-button id="create-banner-reset"
                  class="crud-btn crud-btn-reset badge-pill mx-3"
                  type="reset"
                  @click="onReset">RESET</b-button>
              </b-col>
              <b-col></b-col>
            </b-row>
          </b-container>

        </b-container>
      </b-form>
    </div>

    <app-leave-modal ref="leavePage" @confirm="redirectPage"></app-leave-modal>

    <b-modal ref="addChineseLocale" lazy centered
        title="CREATE SUCCESS!"
        :hide-header-close="true"
        id="addChineseLocale" class="auth-modal">
      <form id="addChineseLocale-form" class="py-4">
        <p>Continue editing the Chinese profile?</p>
      </form>

      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3" @click.prevent="redirectPage(`/admin/banner/update/${bannerId}`)">OK</a></b-col>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3 cancel" @click.prevent="redirectPage(`/admin/banner/display`)">CANCEL</a></b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import AppLeaveModal from '@/components/shared/AppLeaveModal.vue'
  import AppMessageAlert from '@/components/shared/AppMessageAlert.vue'

  import { mapGetters, mapActions } from 'vuex'
  import bus from '@/bus'

  import BannerValidationMixin from '@/mixins/banner_validation_mixin'
  import BannerOperationMixin from '@/mixins/banner_operation_mixin'

  import '@/assets/css/cms/cms.scss'

  export default {
    name: 'admin-create-banner',
    mixins: [BannerValidationMixin, BannerOperationMixin],
    components: {
      'app-leave-modal': AppLeaveModal,
      'app-message-alert': AppMessageAlert
    },
    data: function () {
      return {
        // Banner Parameters
        file: '',
        bannerId: '',
        bannerLocales: ['en-us'],
        bannerTitles: [],
        bannerLinks: [],
        descriptions: [],
        imageLinks: [],
        bannerCreated: false,
        originDetails: [{
          Title: '',
          Link: '',
          Thumbnail: ''
        }]
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ])
    },
    methods: {
      ...mapActions('banner', [
        'actionCmsAddBanner',
        'actionCmsUploadBannerImage'
      ]),
      requestBannerAdd: async function () {
        let bannerDetails = this.buildBannerParams()
        let payload = {
          token: this.userToken,
          banner: bannerDetails
        }

        try {
          const res = await this.actionCmsAddBanner(payload)
          this.bannerId = res.Banner.Id
          this.resetChanges()
          bus.$emit('ShowSuccess', 'Banner Added Succefully!')
          this.$refs.addChineseLocale.show()
        } catch (err) {
          console.warn('err', err)
          bus.$emit('ShowError', err.body.Data.Description)
          throw err
        }
      },
      onSubmit: function () {
        bus.$emit('Dismiss')
        if (!this.isCreateValid()) return
        this.requestBannerAdd()
      },
      onReset: function () {
        bus.$emit('Dismiss')
        this.resetChanges()
        this.applyBannerFields(this.originDetails)
        this.clearAllValidations(0)
        this.$forceUpdate()
      },
      checkNextStep: function (evt) {
        this.isCreateValid()
        if (!this.bannerCreated) {
          evt.preventDefault()
          bus.$emit('ShowError', 'Please Finish English Locale First')
          console.log('Banner Is Not Created Yet')
        }
      }
    },
    created: function () {
      this.resetChanges()
    }
  }
</script>
