<template>
  <div>
    <b-navbar-nav class="ml-auto">
      <b-btn size="md" type="submit"
        id="wager-history" class="my-2 my-sm-0 border-0 px-3 py-2"
        :disabled="!isHistoryReady"
        @click.prevent="reloadGameHistory">{{ $tm('#Page.Games.History.Button#') }}</b-btn>
    </b-navbar-nav>

    <!-- Modal Component - Game History -->
    <b-modal hide-footer
      title-tag="h1"
      :title="gameTitle"
      ref="historyContainer"
      id="history-container">

      <b-table striped hover dark responsive
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :fields="gameHistoryField"
        :items="gameHistoryItem">
      </b-table>

    </b-modal>

    <!-- Modal Component - Reload -->
    <b-modal centered ok-only
      :ok-title="$tm('#Page.Games.History.Reload.Button#')" size="sm"
      ref="historyReload"
      id="history-reload" class="history-fail-modal"
      @ok="reloadGameHistory">
      <h2 class="title">{{ $tm('#Page.Games.History.Reload.Title#') }}</h2>
      <p class="description p-2">{{ $tm('#Page.Games.History.Reload.Description#') }}</p>
    </b-modal>

    <!-- Modal Component - Error -->
    <b-modal centered ok-only
      size="sm"
      ref="historyError"
      id="history-error" class="history-fail-modal">
      <h2 class="title">ERROR</h2>
      <p class="description p-2">{{errorMsg}}</p>
    </b-modal>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { ERROR_CODE } from '@/constants/error_code'
  import '@/assets/css/game/game-history.scss'

  export default {
    name: 'game-history',
    props: {
      gameName: {
        require: true,
        type: String
      },
      gameTitle: {
        require: true,
        type: String
      }
    },
    data: function () {
      return {
        sortBy: 'localTime',
        sortDesc: true,
        gameHistoryField: [
          { key: 'userTransnumber', label: this.$tm('#Page.Games.History.Table.Title.UserTransnumber#') },
          { key: 'localTime', label: this.$tm('#Page.Games.History.Table.Title.LocalTime#'), sortable: true },
          { key: 'openingBalance', label: this.$tm('#Page.Games.History.Table.Title.OpeningBalance#') },
          { key: 'totalWagerAmount', label: this.$tm('#Page.Games.History.Table.Title.TotalWagerAmount#') },
          { key: 'currencyIsoCode', label: this.$tm('#Page.Games.History.Table.Title.CurrencyIsoCode#') },
          { key: 'totalPayoutAmount', label: this.$tm('#Page.Games.History.Table.Title.TotalPayoutAmount#') },
          { key: 'closingBalance', label: this.$tm('#Page.Games.History.Table.Title.ClosingBalance#') }
        ],
        gameHistoryItem: [],
        errorMsg: '',
        isHistoryReady: false,
        onGameHistoryRenewInterval: undefined
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken'
      ]),
      GAME_HISTORY_RENEW_INTERVAL: function () {
        return 15000 // 15s
      },
      DATE_PATTERN: function () {
        return /\s\((.*?)\)/
      }
    },
    watch: {
      gameName: async function () {
        if (this.gameName) {
          await this.getGameHistory()
          clearInterval(this.onGameHistoryRenewInterval)
          this.onGameHistoryRenewInterval = setInterval(() => {
            this.getGameHistory()
          }, this.GAME_HISTORY_RENEW_INTERVAL)
        }
      }
    },
    methods: {
      ...mapActions('auth', [
        'actionIsUserExpired',
        'actionShowExpiredPrompt'
      ]),
      ...mapActions('game', [
        'actionGetGameHistory'
      ]),
      getGameHistory: async function () {
        if (await this.actionIsUserExpired()) {
          this.$refs.historyContainer.hide()
          await this.actionShowExpiredPrompt()
          console.log('Token Expired. Clear Renew Game History Interval.')
          this.clearRenewGameHistoryInterval()
          return
        }

        let payload = {
          token: this.userToken,
          gamename: this.gameName
        }
        await this.fetchGameHistory(payload)
      },
      fetchGameHistory: async function (payload) {
        try {
          const res = await this.actionGetGameHistory(payload)
          if (res.length > 0) {
            this.gameHistoryItem = res
            this.gameHistoryItem.forEach(item => {
              item.localTime = new Date(item.utcEventTime).toString().replace(this.DATE_PATTERN, '')
            })
            this.isHistoryReady = true
          } else {
            this.gameHistoryItem = []
          }
        } catch (err) {
          console.warn('[Error-Game]', err.body)
          this.handleError(err)
          this.$refs.historyError.show()
          throw err.body
        }
      },
      reloadGameHistory: function () {
        this.getGameHistory()
        if (this.gameHistoryItem.length === 0) {
          this.$refs.historyReload.show()
        } else {
          this.$refs.historyContainer.show()
        }
      },
      handleError: function (err) {
        let pattern = new RegExp('Description : (.*$)')
        if (err.body.ReturnCode === ERROR_CODE.PANDA_RELATED) {
          let fullErrMsg = JSON.parse(err.body.Data.AdditionalMessage)
          let errMsgFromPanda = fullErrMsg.Message.match(pattern)[1]
          this.errorMsg = errMsgFromPanda
        } else {
          this.errorMsg = err.body.Data.AdditionalMessage
        }
      },
      clearRenewGameHistoryInterval: function () {
        clearInterval(this.onGameHistoryRenewInterval)
        this.onGameHistoryRenewInterval = null
      }
    },
    destroyed: function () {
      if (this.onGameHistoryRenewInterval) {
        this.clearRenewGameHistoryInterval()
      }
    }
  }
</script>
