<template>
  <div class="game-play">
    <the-header :game-name="game.Name" :game-title="game.Title"></the-header>
    <b-container class="game-play-container">
      <b-row class="game-play-header">
        <b-col class="game-play-title text-center py-3" sm="4" offset-sm="4">{{game.Title}}</b-col>
        <b-col class="game-play-back text-right py-3" sm="4" @click="back">{{ $tm('#Page.Games.Action.Back#') }}</b-col>
      </b-row>
      <b-row>
        <b-embed type="iframe" aspect="16by9" :src="embedUrl" allowfullscreen></b-embed>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import TheHeader from '@/components/common/TheHeader.vue'

  import { mapGetters, mapActions } from 'vuex'

  const ACCOUNT_PATTERN = /([\\?|\\&]((sext1=)|(loginname=)))([^&]+)/i
  const PASSWORD_PATTERN = /([\\?|\\&]((sext2=)|(password=)))([^&]+)/i

  export default {
    name: 'game-play',
    components: {
      'the-header': TheHeader
    },
    data: function () {
      return {
        game: {},
        embedUrl: '',
        gobackUrl: ''
      }
    },
    computed: {
      ...mapGetters('auth', [
        'userToken',
        'liveAccount'
      ]),
      ...mapGetters('locale', [
        'getLocale'
      ])
    },
    methods: {
      ...mapActions('game', [
        'actionGetGame'
      ]),
      launchGame: async function () {
        try {
          this.game = await this.actionGetGame({
            token: this.userToken,
            gameName: this.$route.params.gameName.toLowerCase(),
            locale: this.getLocale
          })
          if (this.isMobile) {
            location.href = this.isDataEmpty(this.game.MobileLink) ? this.game.Link : this.game.MobileLink
          } else {
            this.embedUrl = this.replaceUrlParams(this.game.Link)
          }
        } catch (err) {
          console.log(err)
        }
      },
      replaceUrlParams: function (url) {
        const accountMatch = url.match(ACCOUNT_PATTERN)
        const passwordMatch = url.match(PASSWORD_PATTERN)

        if (!this.isDataEmpty(accountMatch) && !this.isDataEmpty(passwordMatch)) {
          const targetAccount = accountMatch[5]
          const targetPassword = passwordMatch[5]
          url = url.replace(targetAccount, this.liveAccount.Account)
                   .replace(targetPassword, this.liveAccount.Password)
        }
        return url
      },
      back: function () {
        this.$router.replace(this.gobackUrl)
      }
    },
    mounted: function () {
      this.launchGame()
    },
    beforeRouteEnter: function (to, from, next) {
      next(vm => {
        vm.gobackUrl = from.fullPath
      })
    }
  }
</script>

<style lang="scss" scoped>
  .game-play {
    background: #000;
    .game-play-container {
      border-left: 1px solid #212121;
      border-right: 1px solid #212121;
    }
    .game-play-header {
      background: #212121;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }
    .game-play-back {
      cursor: pointer;
    }
  }
</style>
