<template>
  <div id="before-login-nav">
    <b-btn v-b-modal.modalLogin id="login-button" class="px-3 py-2 action-btn" @click.prevent="launchLoginModal">{{ $tm('#Modal.Auth.Login.Title#') }}</b-btn>
    <b-modal ref="modalLogin" lazy centered
      :title="$tm('#Modal.Auth.Login.Title#')"
      :hide-header-close="true"
      id="modalLogin" class="auth-modal">

      <form id="login-form">
        <!-- For User Account -->
        <input
          name="account"
          type="text"
          :placeholder="$tm('#Modal.Auth.Login.Account#')"
          id="user-account"
          class="form-group p-3 form-control"
          v-model="$v.user.account.$model"
          :class="{'is-danger': isError | $v.user.account.$error}" />
        <!-- For User Password -->
        <input
          name="password"
          type="password"
          :placeholder="$tm('#Modal.Auth.Login.Password#')"
          id="user-password"
          class="form-group p-3 form-control"
          v-model="$v.user.password.$model"
          :class="{'is-danger': isError | $v.user.password.$error}" @keyup.enter="login" />
        <!-- For Error Msg -->
        <div class="form-group error-hint">
          <span v-if="isError" class="help is-danger">{{ $tm(errorMessage) }}</span>
          <span v-if="$v.user.account.$error" class="help is-danger">{{ $tm('#Error.Msg.Account.Required#') }}</span>
          <span v-if="$v.user.password.$error" class="help is-danger">{{ $tm('#Error.Msg.Password.Required#') }}</span>
        </div>
      </form>

      <!-- For Modal Footer -->
      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3" @click.prevent="login">{{ $tm('#Modal.Auth.Login.Title#') }}</a></b-col>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3 cancel" @click.prevent="cancel">{{ $tm('#Modal.Auth.Action.Cancel#') }}</a></b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'
  import errorMixin from '@/mixins/error_mixin'

  import '@/assets/css/auth/auth.scss'

  export default {
    name: 'auth-login',
    mixins: [errorMixin, validationMixin],
    data: function () {
      return {
        errorMessage: '',
        isError: false,
        user: {
          account: '',
          password: ''
        }
      }
    },
    computed: {
      ...mapGetters('auth', [
        'isLoginDisabled',
        'isShownLoginPrompt'
      ])
    },
    validations: {
      user: {
        account: {
          required
        },
        password: {
          required
        }
      }
    },
    methods: {
      ...mapActions('auth', [
        'actionLogin',
        'actionHideLoginPrompt'
      ]),
      launchLoginModal: function () {
        this.clearInput()
        this.$refs.modalLogin.show()
      },
      login: async function () {
        this.$v.user.$touch()
        if (this.$v.user.$invalid || (this.isLoginDisabled)) return

        this.user.account = this.$v.user.account.$model
        this.user.password = this.$v.user.password.$model

        try {
          await this.actionLogin({user: this.user})
          this.$emit('loginSuccess')
        } catch (err) {
          if (err.body.ReturnCode !== 0) {
            this.errorMessage = this.errorMapping(err.body.ReturnCode, err.body.Data.ErrorType)
            this.isError = true
          }
        }
      },
      cancel: function () {
        this.$refs.modalLogin.hide()
      },
      clearInput: function () {
        this.$v.user.account.$model = ''
        this.$v.user.password.$model = ''
        this.errorMessage = ''
        this.isError = false
        this.$v.user.$reset()
      }
    },
    watch: {
      isShownLoginPrompt: function () {
        if (this.isShownLoginPrompt) {
          this.$emit('showLoginPrompt')
          this.launchLoginModal()
          this.actionHideLoginPrompt()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
