<template>
  <div id="after-login-nav">
    <ul class="nav">
      <li class="nav-item nav-index px-3 py-2 d-none d-md-none d-lg-block">{{ $tm('#Site.Header.Greeting#') }}{{userAccount}}</li>
      <li class="nav-item nav-index px-1">
        <router-link to="/admin" id="adminCMS" class="p-2 d-none d-md-none d-lg-block" v-if="isAdmin">
          CMS
        </router-link>
      </li>
      <li class="nav-item px-3">
        <b-btn v-b-modal.modalLogout id="logout-button" class="px-3 py-2 action-btn">{{ $tm('#Modal.Auth.Logout.Title#') }}</b-btn>
      </li>
    </ul>
    <b-modal ref="modalLogout" lazy centered
      :title="$tm('#Modal.Auth.Logout.Title#')"
      :hide-header-close="true"
      id="modalLogout" class="auth-modal">

      <form id="logout-form">
        <p>{{ $tm('#Modal.Auth.Logout.Description#') }}</p>
      </form>

      <!-- For Modal Footer -->
      <div slot="modal-footer" class="w-100">
        <b-container fluid>
          <b-row>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3" @click.prevent="logout">{{ $tm('#Modal.Auth.Action.Confirm#') }}</a></b-col>
            <b-col cols="6" class="px-0"><a class="modal-action-btn py-3 cancel" @click.prevent="cancel">{{ $tm('#Modal.Auth.Action.Cancel#') }}</a></b-col>
          </b-row>
        </b-container>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import '@/assets/css/auth/auth.scss'
  import '@/assets/css/auth/logout.scss'

  export default {
    name: 'auth-logout',
    computed: {
      ...mapGetters('auth', [
        'isAdmin',
        'userAccount'
      ])
    },
    methods: {
      launchLogoutModal: function () {
        this.$refs.logoutModal.show()
      },
      logout: function () {
        this.$router.push('/logout')
      },
      cancel: function () {
        this.$refs.modalLogout.hide()
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
