@import '../_setting.scss';

#live-dealer {
  .game-inner {
    .game-title {
      margin-top: 20%;
    }
    @media screen and (min-width: $desktop) {
      .game-btn {
        width: 30%;
        left: 35%;
      }
    }
  }
}